<table class="table" cellspacing="0" width="100%">
    <thead>
    <tr>
        <td>
            商品
        </td>
        <td>
            商品价格
        </td>
        <td>
            库存
        </td>
        <td>
            操作
        </td>
    </tr>
    </thead>
    <tbody class="ui-sortable container">
    {if empty($list)}
    <tr>
        <td colspan="4" style="text-align: center">
            查不到任何商品
        </td>
    </tr>
    {/if}
    {loop $list $key $goods}
        <tr>
            <td style="display: flex;flex-direction: row;">
                <img src="{php echo tomedia($goods['thumb'])}"
                     style="width:30px;height:30px;float:left;margin-right:12px">
                <div style="width: 330px;display: inline-block;overflow: hidden;text-overflow: ellipsis;">{$goods['title']}</div>
                <!-- 3.26优化自营商品 -->
                {if !empty($goods['myshop'])}
                    <div style="width: 60px;margin-top:4px;height: 22px;border-radius: 2px;background: #FFF3F5;text-align: center;margin-left: 15px;color: #f55;line-height: 22px;">自营商品</div>
                {/if}
                <!-- 3.26ending -->
            </td>
            <td>
                ¥{$goods['marketprice']}
            </td>
            <td>
                {$goods['total']}
            </td>
            <td>
                <a href="javascript:void(0);" class="label label-primary selectit" data-id="{$goods['id']}" data-json='{php echo json_encode($goods);}'>
                    选择
                </a>
            </td>
        </tr>
    {/loop}
    </tbody>
</table>
<div style="text-align:right;width:100%;position: absolute;bottom: 0;right:30px;">
    <div>
        <ul class="pagination pagination-centered">
            {loop $page_num_arr $k $num}
            <li {if $num == $page}class="active"{/if}>
                <a href="javascript:;" page="{$num}" class="pager-nav">
                    {$num}
                </a>
            </li>
            {/loop}
            <li>
                <a href="javascript:;" page="{php echo $page+1}" class="pager-nav">
                    下一页»
                </a>
            </li>
            <li>
                <a href="javascript:;" page="{$total}" class="pager-nav" class="page-raduis">
                    尾页
                </a>
            </li>
            <li>
                <input type="text" class="page-raduis" value="1">
            </li>
            <li>
                <a href="javascript:;" page="1" class="pager-nav">
                    跳转
                </a>
            </li>
        </ul>
        <span class="record">共{$count}条记录</span>
    </div>
</div>

