{template '_header'}

<div class="page-header">
    当前位置：<span class="text-primary">素材管理 </span>
</div>

<div class="page-content">
    <form action="./index.php" method="get" class="form-horizontal" plugins="form">
        <input type="hidden" name="c" value="site">
        <input type="hidden" name="a" value="entry">
        <input type="hidden" name="m" value="ewei_shopv2">
        <input type="hidden" name="do" value="web">
        <input type="hidden" name="r" value="touch_loop">
        <div class="page-toolbar  m-b-sm m-t-sm">
            <div class="col-sm-4">
             <span class=''>
                    <a class="btn btn-primary btn-sm" href="{php echo webUrl('touch_loop/add')}"><i class="fa fa-plus"></i> 添加素材</a>
            </span>
            </div>
            <div class="col-sm-6 pull-right">
                <div class="input-group">
                    <div class="input-group-select">
                        <select name="status" class="form-control" >
                            <option value="">显示</option>
                            <option value="1" {if $_GPC['status']=='1'} selected{/if}>是</option>
                            <option value="0" {if $_GPC['status']=='0'} selected{/if}>否</option>
                        </select>
                    </div>
                    <div class="input-group-select">
                        <select name="isrecommand" class="form-control ">
                            <option value="">优先使用</option>
                            <option value="2" {if $_GPC['isrecommand']=='2'} selected{/if}>优先</option>
                            <option value="1" {if $_GPC['isrecommand']=='1'} selected{/if}>普通</option>
                        </select>
                    </div>
                    <input type="text" class=" form-control" name="keyword" value="{$_GPC['keyword']}" placeholder="请输入关键词"> <span class="input-group-btn">
                <button class="btn  btn-primary" type="submit"> 搜索</button> </span>
                </div>
            </div>
        </div>
    </form>

    {if count($list['list'])>0}
    <form action="" method="post">
        <div class="page-table-header">
            <input type="checkbox">
            <div class="btn-group">
                <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle="batch" data-href="{php echo weburl('touch_loop/status', array('status'=>0))}" disabled="disabled">
                    <i class="icow icow-yincang"></i> 禁用
                </button>
                <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle="batch" data-href="{php echo weburl('touch_loop/status', array('status'=>1))}" disabled="disabled">
                    <i class="icow icow-xianshi"></i> 启用
                </button>
                <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle="batch-remove" data-confirm="确认要删除吗?" data-href="{php echo weburl('touch_loop/delete')}" disabled="disabled">
                    <i class="icow icow-shanchu1"></i> 删除
                </button>
            </div>
        </div>
        <table class="table table-hover table-responsive">
            <thead class="navbar-inner">
            <tr>
                <th style="width:25px;">

                </th>
                <th style="width: 100px;">排序</th>
                <th>商品图片</th>
                <th >商品名称</th>

                <th style=" text-align: center;">优先使用</th>
                <th style="width:70px; text-align: center;">状态</th>
                <th style="width: 125px;">操作</th>
            </tr>
            </thead>
            <tbody id="sort">
            {loop $list['list'] $row}
            <tr>
                <td><input type="checkbox" value="{$row['id']}"></td>
                <td>
                    <a href='javascript:;' data-toggle='ajaxEdit' data-href="{php echo webUrl('touch_loop/displayorder',array('id'=>$row['id']))}" >{$row['sort']}</a>

                </td>
                <td>
                    <img class="img-40" src="{php echo tomedia($row['thumb']);}" style="border-radius:50%;border:1px solid #efefef;" onerror="this.src='../addons/ewei_shopv2/static/images/noface.png'" data-times="1">
                </td>
                <td>{$row['title']}</td>

                <td style="text-align: center;">
                    <span class='label {if $row['isrecommand']==1}label-success{else}label-default{/if}'
                    data-toggle='ajaxSwitch'
                    data-switch-value='{$row['isrecommand']}'
                    data-switch-value0='0|否|label label-default|{php echo webUrl('touch_loop/isrecommand',array('isrecommand'=>1,'id'=>$row['id']))}'
                    data-switch-value1='1|是|label label-success|{php echo webUrl('touch_loop/isrecommand',array('isrecommand'=>0,'id'=>$row['id']))}'
                    >
                    {if $row['isrecommand']==1}是{else}否{/if}</span>
                </td>
                <td style="text-align: center;">
                    <span class="label {if $row['status']==1}label-primary{else}label-default{/if}"
                    data-toggle='ajaxSwitch'
                    data-switch-value='{$row['status']}'
                    data-switch-value0='0|禁用|label label-default|{php echo webUrl('touch_loop/status',array('status'=>1,'id'=>$row['id']))}'
                    data-switch-value1='1|启用|label label-primary|{php echo webUrl('touch_loop/status',array('status'=>0,'id'=>$row['id']))}'
                    >
                    {if $row['status']==1}启用{else}禁用{/if}</span>
                </td>
                <td style="text-align:left;">
                    <a href="{php echo webUrl('touch_loop/edit', array('id' => $row['id']))}" class="btn btn-default btn-sm btn-op btn-operation" title="编辑">
                                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="  修改">
                                        <i class="icow icow-bianji2"></i>

                                     </span>
                    </a>
                    <a data-toggle='ajaxRemove' href="{php echo webUrl('touch_loop/delete', array('id' => $row['id']))}"class="btn btn-default btn-sm btn-op btn-operation" data-confirm="确认删除此素材?" title="删除">
                                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="删除">
                                        <i class="icow icow-shanchu1"></i>
                                     </span>
                    </a>
                </td>
            </tr>
            {/loop}
            </tbody>
            <tfoot>
            <tr>
                <td><input type="checkbox"></td>
                <td colspan="2">
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle="batch" data-href="{php echo weburl('touch_loop/status', array('status'=>0))}" disabled="disabled">
                            <i class="icow icow-yincang"></i> 禁用
                        </button>
                        <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle="batch" data-href="{php echo weburl('touch_loop/status', array('status'=>1))}" disabled="disabled">
                            <i class="icow icow-xianshi"></i> 启用
                        </button>


                        <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle="batch-remove" data-confirm="确认要删除吗?" data-href="{php echo weburl('touch_loop/delete')}" disabled="disabled">
                            <i class="icow icow-shanchu1"></i> 删除
                        </button>

                    </div>
                </td>
                <td colspan="4" class="text-right"> {php echo $list['pager']}</td>
            </tr>
            </tfoot>
        </table>
        {else}
        <div class='panel panel-default'>
            <div class='panel-body' style='text-align: center;padding:30px;'>
                未找到对应素材
            </div>
        </div>
        {/if}
    </form>
</div>

{template '_footer'}

