
<style type="text/css">
    .popover{z-index:10000;}
    .alert{margin-top:10px;}
    .content .table{border-collapse:collapse;border:none;}
    .content .table tr{border-collapse: collapse;border-left:1px solid #ededed;border-right:1px solid #ededed;}
    .content .table > tbody > tr > td{border-top:1px solid #ededed;border-left:0;border-right:0;}
</style>
<div class="">
    <table class="table" border="1" cellspacing="0" width="100%" cellpadding="0">
        <thead style="background: #f7f7f7;">
        <tr>
            <td>商品</td>
            <td style="width:100px;text-align: center;">商品价格</td>
            <td style="width:100px;text-align: center;">库存</td>
            <th style="width:100px;text-align: center;">操作</th>
        </tr>
        </thead>
        <tbody id="param-items" class="ui-sortable">
        {loop $goods $row}
        <tr>
            <td>
                <img src="{php echo tomedia($row['thumb'])}" style='width:30px;height:30px;padding1px;border:1px solid #ccc' /> {$row['title']}
            </td>
            <td style="text-align: right;">&yen;{$row['marketprice']}</td>
            <td style="text-align: right;">{$row['total']}</td>
            <td style="text-align: center;">
                <a href="javascript:;" class="label label-primary" onclick='biz.selector_new.set(this, {php echo json_encode($row);})'>选择</a>
            </td>
        </tr>
        {/loop}
        {if count($goods)<=0}
        <tr>
            <td colspan='4' align='center'>未找到商品</td>
        </tr>
        {/if}
        </tbody>
    </table>
    <div style="text-align:right;width:100%;">
        {$pager}
    </div>
</div>
<script type="text/javascript">
    require(['bootstrap'], function ($) {
        $('[data-toggle="tooltip"]').tooltip({
            container: $(document.body)
        });
        $('[data-toggle="popover"]').popover({
            container: $(document.body)
        });
    });
    //分页函数
    var type = '';
    function select_page(url,pindex,obj) {
        // $(".content").empty();
        if(pindex==''||pindex==0){
            return;
        }
        var keyword = $.trim($("#goodsid_input").val());
        $("#goodsid_input").html('<div class="tip">正在进行搜索...</div>');

        $.ajax({
            url:"{php echo webUrl('touch_loop/query')}",
            type:'get',
            data:{title:keyword,page:pindex,psize:8},
            async : false, //默认为true 异步
            success:function(data){
                $(".content").html(data);
            }
        });
    }
</script>