{template '_header'}

<div class="page-header">
    当前位置：<span class="text-primary">基础设置</span>
</div>
<div class="page-content">
    <form id="setform"  action="" method="post" class="form-horizontal form-validate">
<div class="form-group">
    <label class="col-lg control-label">一键发圈图标</label>
    <div class="col-sm-9 col-xs-12">
        {php echo tpl_form_field_image2('data[icon]', empty($data['icon'])?'../addons/ewei_shopv2/plugin/touch_loop/static/images/logo.png':$data['icon'])}
        <span class='help-block'>建议尺寸:640 * 320,版块可以单独设置</span>

    </div>
</div>

<div class="form-group">
    <label class="col-lg control-label">可发圈商品</label>
    <div class="col-sm-9">

        <label class="radio radio-inline" >
            <input type="radio" name="data[type]" value="0" {if empty($data['type'])}checked{/if}/> 已选商品
        </label>
        <label class="radio radio-inline">
            <input type="radio" name="data[type]" value="1" {if $data['type']==1}checked{/if}/> 全部商品
        </label>
        <span class='help-block'>没设置的商品会读取商品的轮播图</span>

    </div>
</div>

<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9">
        <input type="submit" value="提交" class="btn btn-primary"/>
    </div>

    </form>
</div>
{template '_footer'}