
{template '_header'}
<style>
    .importModal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.6);
        transition: all .4s;
        z-index: 1112;
        display: none;
    }

    .import {
        width: 380px;
        height: 160px;
        position: absolute;
        top: 35%;
        left: 50%;
        margin-left: -190px;
        background: #fff;
        border-radius: 6px;
        padding: 50px 0;
    }

    .improtTitle {
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: 0 auto;
        font-size: 18px;
        font-weight:400;
        color:rgba(51,51,51,1);
    }

    .importImg{
        margin: 16px auto 0;
        width: 300px;
        text-align: center;
    }

    .completeBtn {
        display: flex;
        flex-direction: row;
        margin: 26px 96px 0;
        width: 188px;
        height: 30px;
    }
    .completeBtn .seeGoods,.completeBtn .confirmGoods {
        display: inline-block;
        width: 80px;
        height: 30px;
        background: rgba(255,255,255,1);
        border: 1px solid rgba(232,232,232,1);
        border-radius: 2px;
        line-height: 28px;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
    }
    .completeBtn .seeGoods {
        color: rgba(51,51,51,1);
        margin-right: 22px;
    }

    .completeBtn .confirmGoods {
        color: #fff2e2;
        padding: 0;
        vertical-align: top;
    }
    #stoop_pdd,#stoop_redBook {
        text-align:center;
        display: inline-block;
        font-size: 14px;
        font-weight:bold;
        position:relative;
        cursor: pointer;
        text-decoration-line: underline;
        color: #44ABF7;
        width: 60px;
    }
    .stoop {
        width: 300px;
        position: absolute;
        top: -70px;
        left: 45px;
        z-index: 100;
        display: none;
    }
    .completeBtn .close {
        -webkit-appearance: none;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 0;
        cursor: pointer;
        background: 0 0;
        border: 0;
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: .2;
    }
</style>
<div class="page-header"> 当前位置：<span class="text-primary" id="weizhi" data-type="{$type}">{if $type == 'taobao'} 淘宝
    {elseif $type == 'tmall'} 天猫
    {elseif $type == 'jd'} 京东
    {elseif $type == 'pdd'} 拼多多
    {elseif $type == 'suning'} 苏宁
    {elseif $type == 'alibaba'} 1688
    {elseif $type == 'redbook'} 小红书
    {/if}</span>
</div>

<div class="page-content">
    <div class='alert alert-danger'>提示：尽量在服务器空闲时间来操作，会占用大量内存与带宽，在获取过程中，请不要进行任何操作!<br />
        由于平台有防数据抓取措施，不能获取到商品价，所以，统一用商品标价填充，如果抓取商品无标价，则统一填充0<br />
        {if $type == "pdd"} 将拼多多APP内的商品链接粘贴到输入框内，每行1个链接，每次添加的商品链接不超过3个。
        <div id="stoop_pdd">【示例】
            <div class="stoop">
                <img src="../addons/ewei_shopv2/plugin/goodshelper/static/images/pdd.png" alt="" style="width: 100%;height: 100%">
            </div>
        </div>{/if}
        {if $type=='redbook'}  将小红书APP内的商品链接粘贴到输入框内，每行1个链接，每次添加的商品链接不超过3个。
        <div id="stoop_redBook">【示例】
            <div class="stoop">
                <img src="../addons/ewei_shopv2/plugin/goodshelper/static/images/red_book.png" alt="" style="width: 100%;height: 100%">
            </div>
        </div>
        {/if}
    </div>

    <form id="dataform" action="" method="post" class="form-horizontal form">
        {if $type == 'taobao'}
        <div class="form-group">
            <label class="col-lg control-label">选择上传方式：</label>
            <div class="col-sm-8">
                <label class="radio-inline"><input type="radio" data-locationurl="{$type}"  name="type" value="1" checked="checked"/> 商品链接上传</label>
                <label class="radio-inline">
                    {if $type == 'taobao'}
                    <input type="radio" data-locationurl="{$type}"  name="type" value="2" /> csv上传
                    {elseif $type == 'jd'}
                    <input type="radio" data-locationurl="{$type}"  name="type" value="2" /> csv上传
                    {/if}
                </label>
                <div class='help-block'></div>
            </div>
        </div>
        {/if}
        <div class="form-group">
            <label class="col-lg control-label must">商品链接</label>
            <div class="col-sm-9">
                <textarea  id="url" name="url" class="form-control" rows="5"></textarea>
                <span class="help-block">
                    {if $type == 'taobao'}例如商品链接为: http://item.taobao.com/item.htm?id=522155891308
                    {elseif $type == 'tmall'}例如商品链接为: https://www.tmall.com/?ali_trackid=2:mm_26632258_3504122_55934697:1587974850_126_1068622329
                    {elseif $type == 'jd'}例如商品链接为: https://item.jd.com/65417738725.html
                    {elseif $type == 'pdd'}例如商品链接为: https://mobile.yangkeduo.com/goods.html?goods_id=91240910838&page_from=35
                    {elseif $type == 'suning'}例如商品链接为: https://product.suning.com/0000000000/10263045922.html
                    {elseif $type == 'alibaba'}例如商品链接为: https://detail.1688.com/offer/580088565958.html
                    {elseif $type == 'redbook'}例如商品链接为: https://pages.xiaohongshu.com/goods/5de77cf89b8b6b003545a642?goods_id=5de77cf89b8b6b003545a642
                    {/if}
                </span>
                <span class="help-block">
                    {if $type == 'taobao'}将淘宝链接粘贴至输入框内，每行1个链接，每次添加的商品链接不超过3个。
                    {elseif $type == 'tmall'} 将天猫链接粘贴至输入框内，每行1个链接，每次添加的商品链接不超过3个。
                    {elseif $type == 'jd'} 将京东链接粘贴至输入框内，每行1个链接，每次添加的商品链接不超过3个。
                    {elseif $type == 'suning'} 将苏宁链接粘贴至输入框内，每行1个链接，每次添加的商品链接不超过3个。
                    {elseif $type == 'alibaba'} 将1688链接粘贴至输入框内，每行1个链接，每次添加的商品链接不超过3个。
                {/if}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">选择分类</label>

            <div class="col-sm-9">

                <select id="cates"  name='cates[]' class="form-control select2" style='width:605px;' multiple='' >
                    {loop $category $c}
                    <option value="{$c['id']}" >{$c['name']}</option>
                    {/loop}
                </select>
            </div>

        </div>
        <div class="form-group">
            <label class="col-lg control-label"> </label>
            <div class="col-sm-9">
                <span class="help-block">将商品同步至此分类</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label"> </label>
            <div class="col-sm-9">
                <input id="btn_submit" type="button"  value="立即获取" class="btn btn-primary "  onclick="formcheck()"/>
            </div>
        </div>
    </form>
</div>
<div class="importModal">
    <div class="import">
        <div class="improtTitle">正在获取中...</div>
        <div class="importImg"><img src="../addons/ewei_shopv2/plugin/goodshelper/static/images/progess.gif" alt="" style="width: 100%;"></div>
        <div class="completeBtn hide">
            <button type="button" class="close">
                <span>×</span>
            </button>
            <div class="seeGoods" onclick="seeGoods()">查看商品</div>
            <div class="confirmGoods btn btn-primary" onclick="confirmGoods()">确定</div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('.close').on('click',function(){
        $('.importModal').fadeOut(200);
        location.reload();
    });
    $('#stoop_redBook').hover(function () {
        $('#stoop_redBook .stoop').show();
    },function () {
        $('#stoop_redBook .stoop').hide();
    });
    $('#stoop_pdd').hover(function () {
        $('#stoop_pdd .stoop').show();
    },function () {
        $('#stoop_pdd .stoop').hide();
    });
    // $('#stoop').on('mouseout',function () {
    //     $('.stoopModal').fadeOut(200);
    // });
    $(":input[type=radio]").on('click',function () {
        if($(this).data('locationurl')=='taobao') {
            location.href = "{php echo webUrl('goodshelper/taobaocsv')}";
        }
        // if($(this).data('locationurl')=='jd'){
        //     location.href = "{php echo webUrl('goodshelper/jdcsv')}";
        // }
    });
    var category = {php echo json_encode($children)};
    var len = 0;
    var urls = [];
    var total = 0;
    var orgin = 0;
    function formcheck() {
        if ($(":input[name='url']").val() == '') {
            tip.msgbox.err("请输入商品链接");
            $(":input[name='url']").focus();
            return;
        }
        $("#dataform").attr("disabled", "true");
        // $('#btn_submit').attr("disabled",'true');
        urls = $("#url").val().split('\n');
        total = urls.length;
        orgin = urls.length;
        if(total>3)
        {
            tip.msgbox.err("单次获取的商品数量请不要超过3个,以免会影响抓取效率!");
            return;
        }

        fetch_next();
        return;
    }
    function fetch_next() {
        var cates =$("#cates").val();
        $('.importModal').fadeIn(300);
        $('.import').show();
        var postdata =  {
            url: urls[len],
            type:'{$type}',
            cate: cates
        };
        $.post("{php echo webUrl('goodshelper/fetch')}", postdata, function (data) {
            len++;
            if(data==1) {
                $('.import .improtTitle').html('正在获取中 ( ' + len + " / " + total + ')...');
                if (len >= total) {
                    $('.import .improtTitle').html('已经同步 '+orgin+'个商品');
                    $('.importImg').addClass('hide');
                    $('.import .completeBtn').removeClass('hide').addClass('show');
                }else {
                    fetch_next();
                }
            }else if(data.status == 0) {
                $('.import .improtTitle').html('正在获取中 ( ' + len + " / " + total + ')...');
                tip.msgbox.err(data.result.message);
                var numErr = total - orgin + 1;
                if(total == numErr) {
                    $('.importModal').fadeOut(300);
                    $('.import').hide();
                    $('#btn_submit').removeAttr('disabled');
                    location.reload();
                }
                if (len >= total) {
                    orgin--;
                    if(orgin !== 0){
                        $('.import .improtTitle').html('已经同步 '+orgin+'个商品');
                        $('.importImg').addClass('hide');
                        $('.import .completeBtn').removeClass('hide').addClass('show');
                    }
                }else if(len<total && orgin>=0){
                    orgin--;
                    fetch_next();
                }else {
                    return orgin-=1;
                }
            }

        }, "json");
    }
    function seeGoods() {
        location.href = "{php echo webUrl('goods/stock')}";
    }
    function confirmGoods() {
        $('.importGoods').fadeOut(500);
        location.reload();
    }
    if($('#weizhi').data('type') == 'taobao'){
        $('.single').children('li').eq(0).addClass('active');
    }
</script>

{template '_footer'}