{php $no_left=true}
{template '_header'}
<div class="page-header">
    当前位置：<span class="text-primary">公众号切换</span>
</div>
<div class="wrapper page-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="search-form">
                <form action="" method="post">
                    <div class="input-group">
                        <input type="search" placeholder="请输入微信公众号名称" name="keyword" class="form-control">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                搜索
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            {if $list}
            {loop $list $uni}
            {php $subaccount = count($uni['details']);}
            <div class="file-box" style='width:150px;cursor: pointer' onclick="location.href='{php echo webUrl('sysset/account/choose',array('uniacid' => $uni['uniacid']))}'" title="点击切换">
                <div class="file">

                    {loop $uni['details'] $account}
                    <span class="corner"></span>
                    <div class="icon" style="height: 110px; margin-bottom:10px; padding-top: 10px">

                        {if isset($uni['logo']) && !empty($uni['logo'])}
                        <img src="{php echo tomedia($uni['logo']);}?time={php echo time()}" class="image" width="100" height="100"  onerror="this.src='resource/images/gw-wx.gif'" />

                        {else}
                        <img src="{php echo tomedia('headimg_'.$account['acid'].'.jpg');}?time={php echo time()}" class="image" width="100" height="100"  onerror="this.src='resource/images/gw-wx.gif'" />
                        {/if}

                    </div>
                    <div class="file-name" style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;">
                        {$account['name']}
                    </div>
                    {/loop}
                </div>
            </div>
            {/loop}
            {else}
            没有公众号，<a href="/web/index.php?c=account&a=display">新建公众号</a>
            {/if}
        </div>

    </div>
    {$pager}
</div>


{template '_footer'}