{template '_header'}
<style>
    .fui-cell-group .fui-cell .fui-cell-icon{
        width: auto;
    }
    .fui-cell-group .fui-cell .fui-cell-icon img{
        width: 1.3rem;
        height: 1.3rem;
    }
    .fui-cell-group .fui-cell.no-border{
        padding-top: 0;
    }
    .fui-cell-group .fui-cell.no-border .fui-cell-info{
        font-size: .6rem;
        color: #999;
    }
    .fui-cell-group .fui-cell.applyradio  .fui-cell-info{
        line-height: normal;
    }
</style>
<div class='fui-page  fui-page-current'>
    <div class="fui-header">
        <div class="fui-header-left">
            <a class="back"></a>
        </div>
        <div class="title">{$_W['shopset']['trade']['moneytext']}提现
        </div>
        <div class="fui-header-right">&nbsp;</div>
    </div>
    <div class='fui-content ' >
        <div class='fui-cell-title' style="height: 2.45rem">
            <div class='fui-cell-info' style='font-size:.7rem;color:#666;position: relative;height: 100%;line-height: 1.425rem'>可提现金额: ￥<span id='current'>{php echo number_format($credit,2)}</span> <a id='btn-all' class='text-danger external' href='#' style="position: absolute;right: 0;text-decoration: underline">全部提现</a></div>
        </div>
        <div class='fui-cell-group' style="margin-top: 0">
            <div class='fui-cell-title'  style="height: 2.45rem;font-size:.7rem;color:#666;line-height: 1.425rem">提现金额
                {if floatval($set['withdrawmoney'])>0}
                <!--<small>提现额度最小为: <span class='text-danger'>￥{php echo number_format($set['withdrawmoney'],2)}</span></small>-->
                {/if}
            </div>
            <div class='fui-cell' style="padding: 0 .6rem .6rem;">
                <div class='fui-cell-label big' style='width:auto; font-size:1rem;color: #000; '>￥</div>
                <div class='fui-cell-info'><input type='number' class='fui-input' id='money' style='font-size:1rem;' ></div>
            </div>
        </div>
        <div class='fui-cell-group'>
            <div class="fui-cell">
                <div class="fui-cell-label" style="width: 120px;"><span class="re-g">提现方式</span></div>
                <!--<div class="fui-cell-info">-->

                    <!--<select id="applytype">-->
                        <!--{loop $type_array $key $value}-->
                        <!--<option value="{$key}" {if !empty($value['checked'])}selected{/if}>{$value['title']}</option>-->
                        <!--{/loop}-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="fui-cell-remark"></div>-->
            </div>
            {if !empty($type_array[0])}
            <div class="fui-cell applyradio">
                <div class="fui-cell-icon"><img src="{EWEI_SHOPV2_STATIC}images/wx.png" alt=""></div>
                <div class="fui-cell-info">
                    提现到微信钱包
                </div>
                <div class="fui-cell-remark noremark"><input    name="1" type="radio"class="fui-radio fui-radio-danger"  data-type="0" {if !empty($type_array[0]['checked']) }checked="cheched "id="applytype"{/if}></div>
            </div>
            {/if}
            {if !empty($type_array[2])}
            <div class="fui-cell applyradio">
                <div class="fui-cell-icon"><img src="{EWEI_SHOPV2_STATIC}images/zfb.png" alt=""></div>
                <div class="fui-cell-info">
                    提现到支付宝
                </div>
                <div class="fui-cell-remark noremark"><input  name="1"  type="radio"class="fui-radio fui-radio-danger" data-type="2"  {if !empty($type_array[2]['checked']) }checked="cheched"  id="applytype"{/if}></div>
            </div>
            {/if}
            {if !empty($type_array[2])}
            <div class="fui-cell ab-group" {if empty($type_array[2]['checked']) }style="display: none;"{/if}>
                <div class="fui-cell-label" style="width: 120px;">姓名</div>
                <div class="fui-cell-info"><input type="text" id="realname" placeholder="请填写姓名"  name="realname" class='fui-input' value="{$last_data['realname']}" max="25"/></div>
            </div>
            <div class="fui-cell alipay-group" {if empty($type_array[2]['checked'])}style="display: none;"{/if}>
                <div class="fui-cell-label" style="width: 120px;">支付宝帐号</div>
                <div class="fui-cell-info"><input type="text" id="alipay" placeholder="请填写支付宝账号"  name="alipay" class='fui-input' value="{$last_data['alipay']}" max="25"/></div>
                </div>

                    <div class="fui-cell alipay-group" {if empty($type_array[2]['checked'])}style="display: none;"{/if}>
                    <div class="fui-cell-label" style="width: 120px;">确认帐号</div>
                    <div class="fui-cell-info"><input type="text" id="alipay1" placeholder="请确认账号"  name="alipay1" class='fui-input' value="{$last_data['alipay']}" max="25"/></div>
                </div>
            {/if}
{if !empty($type_array[3])}
            <div class="fui-cell applyradio">
                <div class="fui-cell-icon"><img src="{EWEI_SHOPV2_STATIC}images/yinhangka.png" alt=""></div>
                <div class="fui-cell-info">
                    提现到银行卡
                </div>
                <div class="fui-cell-remark noremark"><input  name="1"  type="radio"class="fui-radio fui-radio-danger" data-type="3"  {if !empty($type_array[3]['checked']) }checked="cheched  "id="applytype"{/if}></div>
            </div>
{/if}
{if !empty($type_array[3])}
            <div class="fui-cell ab-group2" {if  empty($type_array[3]['checked']) }style="display: none;"{/if}>
                <div class="fui-cell-label" style="width: 120px;">姓名</div>
                <div class="fui-cell-info"><input type="text" id="realname2"  placeholder="请填写姓名" name="realname" class='fui-input' value="{$last_data['realname']}" max="25"/></div>
            </div>
            <div class="fui-cell bank-group" {if empty($type_array[3]['checked'])}style="display: none;"{/if}>
                <div class="fui-cell-label" style="width: 120px;"><span class="re-g">选择银行</span></div>
                <div class="fui-cell-info">

                    <select id="bankname">
                        {loop $banklist $key $value}
                        <option value="{$bankname}" {if !empty($last_data) && $last_data['bankname'] == $value['bankname']}selected{/if}>{$value['bankname']}</option>
                        {/loop}
                    </select>
                </div>
                <div class="fui-cell-remark"></div>
            </div>
            <!--3.25优化 余额提现添加开户行 字段：bank 相应的js也需要添加字段-->
            <div class="fui-cell bank-group" {if empty($type_array[3]['checked'])}style="display: none;"{/if}>
                <div class="fui-cell-label" style="width: 120px;">开户行</div>
                <div class="fui-cell-info"><input type="text" id="openbank" placeholder="请填写开户行" name="openbank" class='fui-input' value="{$last_data['bankopen']}" max="25"/></div>
            </div>
            <!-- 3.25end -->

            <div class="fui-cell bank-group" {if empty($type_array[3]['checked'])}style="display: none;"{/if}>
                <div class="fui-cell-label" style="width: 120px;">银行卡号</div>
                <div class="fui-cell-info"><input type="text" id="bankcard" placeholder="请填写银行卡号" name="bankcard" class='fui-input' value="{$last_data['bankcard']}" max="25"/></div>
            </div>

                <div class="fui-cell bank-group" {if empty($type_array[3]['checked'])}style="display: none;"{/if}>
                    <div class="fui-cell-label" style="width: 120px;">确认卡号</div>
                    <div class="fui-cell-info"><input type="text" id="bankcard1" placeholder="请确认银行卡号"  name="bankcard1`" class='fui-input' value="{$last_data['bankcard']}" max="25"/></div>
                </div>
            {/if}


        </div>
        {if $withdrawmoney > 0}
        <div class='fui-cell-title' style="height: 2.45rem">
            <div class='fui-cell-info' style='font-size:.7rem;color:#666;position: relative;height: 100%;line-height: 1.425rem'>
                最小提现金额为 ￥{$withdrawmoney}
            </div>
        </div>
        {/if}
        <a id='btn-next' class='btn btn-danger block disabled '>提现</a>
        <div class='fui-cell-group' style="background: transparent;padding: .4rem 0;margin: 0;{if empty($withdrawcharge)}display: none;{/if}  ">
            <div class='fui-cell no-border'>
                <div class='fui-cell-info' id="chargeinfo">详细说明</div>
            </div>
            {if !empty($withdrawcharge)}
            <div class='fui-cell no-border charge-group' >
                <div class='fui-cell-info'>提现手续费为 {$withdrawcharge}%</div>
            </div>
            {/if}
            {if !empty($withdrawend)}
            <div class='fui-cell no-border charge-group' >
                <div class='fui-cell-info'> 手续费金额在￥{$withdrawbegin}到￥{$withdrawend}间免收</div>
            </div>
            {/if}
            <div class='fui-cell no-border charge-group' >
                <div class='fui-cell-info'>本次提现将扣除手续费 ￥<span class='text-danger' id='deductionmoney'></span></div>
            </div>
            <div class='fui-cell no-border charge-group' >
                <div class='fui-cell-info'> 本次提现实际到账金额 ￥<span class='text-danger' id='realmoney'></span></div>
            </div>
            </div>

        </div>
        <!--{if !empty($withdrawcharge)}-->
        <!--<div class='fui-cell-title'>提现手续费为 {$withdrawcharge}%</div>-->
        <!--{/if}-->

        <!--{if !empty($withdrawend)}-->
        <!--<div class='fui-cell-title'>手续费金额在￥{$withdrawbegin}到￥{$withdrawend}间免收</div>-->
        <!--{/if}-->

        <!--<div class='fui-cell-title charge-group' style="display: none;">本次提现将扣除手续费 ￥<span class='text-danger' id='deductionmoney'></span>-->
        <!--</div>-->

        <!--<div class='fui-cell-title charge-group' style="display: none;">本次提现实际到账金额 ￥<span class='text-danger' id='realmoney'></span>-->
        <!--</div>-->
    </div>
    <script language='javascript'>
            require(['biz/member/withdraw'], function (modal) {
                modal.init({
                    withdrawcharge:{php echo floatval($withdrawcharge)},
                    withdrawbegin:{php echo floatval($withdrawbegin)},
                    withdrawend:{php echo floatval($withdrawend)},
                    min:{php echo floatval($set['withdrawmoney'])},
                max:{php echo floatval($credit)},
            });
            });
    </script>
</div>

{template '_footer'}