{if empty($diyitem['params']['style']) || $diyitem['params']['style']=='default1'}
<div style="overflow: hidden;height: 9rem;position: relative;background: #fff">
    <div class="headinfo" style="{if !empty($diyitem['style']['background'])}border: none;{/if};z-index: 100">
        {if !empty($diyitem['params']['seticon'])}
        <a class="setbtn" style="color: {$diyitem['style']['textcolor']};" href="{php echo empty($diyitem['params']['setlink'])?mobileUrl('member/info'):$diyitem['params']['setlink'];}" data-nocache="true"><i class="icon {$diyitem['params']['seticon']}"></i></a>
        {/if}
        <div class="child">
            <a href="./index.php?i={php echo $_W['uniacid']}&c=entry&m=ewei_shopv2&do=mobile&r=member.log">
            <div class="title" style="color: {$diyitem['style']['textcolor']};">{$diyitem['info']['textmoney']}</div>
            <div class="num" style="color: {$diyitem['style']['textlight']};">{$diyitem['info']['money']}</div>
            </a>
            {if !empty($diyitem['params']['leftnav'])}
            <a class="btn" style="color: {$diyitem['style']['textcolor']}; border-color: {$diyitem['style']['textcolor']};" href="{php echo empty($diyitem['params']['leftnavlink'])?mobileUrl('member/recharge'):$diyitem['params']['leftnavlink'];}" data-nocache="true">{$diyitem['params']['leftnav']}</a>
            {/if}
        </div>
        <div class="child userinfo" style="color: {$diyitem['style']['textcolor']};">
            <a href="{php echo mobileUrl('member/info')}" data-nocache="true" style="color: {$diyitem['style']['textcolor']};">
                <div class="face {$diyitem['style']['headstyle']}"><img src="{$diyitem['info']['avatar']}" onerror="this.src='../addons/ewei_shopv2/static/images/noface.png'"></div>
                <div class="name">{$diyitem['info']['nickname']}</div>
            </a>
            {if !empty($diyitem['params']['levellink'])}
            <a class="level" href="{$diyitem['params']['levellink']}">[{$diyitem['info']['levelname']}] <i class="icon icon-question1" style="font-size: 0.6rem;"></i></a>
            {else}
            <div class="level">[{$diyitem['info']['levelname']}]</div>
            {/if}
        </div>
        <div class="child">
            <a href="./index.php?i={php echo $_W['uniacid']}&c=entry&m=ewei_shopv2&do=mobile&r=creditshop.creditlog">
            <div class="title" style="color: {$diyitem['style']['textcolor']};">{$diyitem['info']['textcredit']}</div>
            <div class="num" style="color: {$diyitem['style']['textlight']};">{$diyitem['info']['credit']}</div>
            </a>
            {if !empty($diyitem['params']['rightnav'])}
            <a class="btn" style="color: {$diyitem['style']['textcolor']}; border-color: {$diyitem['style']['textcolor']};" href="{php echo empty($diyitem['params']['rightnavlink'])?mobileUrl('creditshop'):$diyitem['params']['rightnavlink'];}" data-nocache="true">{$diyitem['params']['rightnav']}</a>
            {/if}
        </div>
    </div>
    <div class="member_header"style="background: {$diyitem['style']['background']};border-color: {$diyitem['style']['background']};"></div>

    {if p('membercard') && $canmembercard}
    <a href="{php echo mobileUrl('membercard/index')}" style="color: #ffffff">
        <div class='member_card'>
            <img class='icon' src='../addons/ewei_shopv2/static/images/icon-huangguan.png' />
            <div class='title'>我的会员卡</div>
            <div class='card-num'>已拥有{$diyitem['info']['membercard']}张</div>
        </div>
    </a>
    <image class='cover-img' src='../addons/ewei_shopv2/static/images/cover.png' />
    {/if}
</div>
{elseif $diyitem['params']['style']=='default2'}
<div class="headinfo style-2" style="background: {$diyitem['style']['background']}; {if !empty($diyitem['style']['background'])}border: none;{/if}">
    {if p('membercard') && $canmembercard}
    <a href="{php echo mobileUrl('membercard/index')}" >
        <img class="icon-style2" src="../addons/ewei_shopv2/static/images/header-style2.png"  style="z-index: 999"/>
    </a>
    {/if}
    {if !empty($diyitem['params']['seticon'])}
    <a class="setbtn" style="color: {$diyitem['style']['textcolor']};" href="{$diyitem['params']['setlink']}" data-nocache="true"><i class="icon {$diyitem['params']['seticon']}"></i></a>
    {/if}
    <div class="face {$diyitem['style']['headstyle']}"><img src="{$diyitem['info']['avatar']}" onerror="this.src='../addons/ewei_shopv2/static/images/noface.png'"></div>
    <div class="inner" style="color: {$diyitem['style']['textcolor']};">
        <div class="name">{$diyitem['info']['nickname']}</div>
        {if !empty($diyitem['params']['levellink'])}
        <a class="level" href="{$diyitem['params']['levellink']}" style="color: {$diyitem['style']['textcolor']};">[{$diyitem['info']['levelname']}] <i class="icon icon-question1" style="font-size: 0.6rem;"></i></a>
        {else}
        <div class="level">[{$diyitem['info']['levelname']}]</div>
        {/if}
        <div class="credit">{$diyitem['info']['textmoney']}: <span style="color: {$diyitem['style']['textlight']};">{$diyitem['info']['money']}</span></div>
        <div class="credit">{$diyitem['info']['textcredit']}: <span style="color: {$diyitem['style']['textlight']};">{$diyitem['info']['credit']}</span></div>
    </div>
</div> 
{/if}