{if !empty($diyitem['data'])}
    {php $textyuan = !empty($_W['shopset']['commission']['texts']['yuan'])?$_W['shopset']['commission']['texts']['yuan']:'元'}
    {php $textjifen = !empty($_W['shopset']['trade']['credittext'])?$_W['shopset']['trade']['credittext']:'积分'}
    {if empty($diyitem['params']['goodsscroll'])}
        <div class="fui-goods-group {$diyitem['style']['liststyle']}" style="background: {$diyitem['style']['background']};">
            {loop $diyitem['data'] $goodsitem}

                <a class="fui-goods-item" data-goodsid="{$goodsitem['gid']}" href="{if $goodsitem['ctype']==9}{php echo mobileUrl('cycelbuy/goods/detail', array('id'=>$goodsitem['gid']))}{else}{php echo mobileUrl(empty($diyitem['params']['goodstype'])?'goods/detail':'creditshop/detail', array('id'=>$goodsitem['gid']))}{/if}"data-type="{php echo empty($diyitem['params']['goodstype'])? $goodsitem['ctype']:0}" data-nocache="true" style="position: relative;">
                    <div class="image {php echo $diyitem['style']['liststyle']=='block one'?'auto':''}  {if $diyitem['params']['showicon']==1}{$diyitem['style']['iconstyle']}{/if}" data-text="
                            {if $diyitem['style']['goodsicon']=='recommand'}推荐{/if}
                            {if $diyitem['style']['goodsicon']=='hotsale'}热销{/if}
                            {if $diyitem['style']['goodsicon']=='isnew'}新上{/if}
                            {if $diyitem['style']['goodsicon']=='sendfree'}包邮{/if}
                            {if $diyitem['style']['goodsicon']=='istime'}限时卖{/if}
                            {if $diyitem['style']['goodsicon']=='bigsale'}促销{/if}
                        " {if $diyitem['style']['liststyle']!='block one'}data-lazy-background="{php echo tomedia($goodsitem['thumb'])}"{else}style="background:none; min-height: 50px;"{/if}>
                        {if $diyitem['style']['liststyle']=='block one'}
                            <img class="exclude" src="{php echo tomedia($_W['shopset']['shop']['loading'])}" data-lazy="{php echo tomedia($goodsitem['thumb'])}" />
                        {/if}
                        {if $diyitem['params']['showicon']==2}
                            <div class="goodsicon {$diyitem['params']['iconposition']}  "
                                 {if $diyitem['params']['iconposition']=='left top'}
                                    style="top: {$diyitem['style']['iconpaddingtop']}px; left: {$diyitem['style']['iconpaddingleft']}px; text-align: left;"
                                 {elseif $diyitem['params']['iconposition']=='right top'}
                                    style="top: {$diyitem['style']['iconpaddingtop']}px; right: {$diyitem['style']['iconpaddingleft']}px; text-align: right;"
                                 {elseif $diyitem['params']['iconposition']=='left bottom'}
                                    style="bottom: {$diyitem['style']['iconpaddingtop']}px; left: {$diyitem['style']['iconpaddingleft']}px; text-align: left;"
                                 {elseif $diyitem['params']['iconposition']=='left bottom'}
                                    style="bottom: {$diyitem['style']['iconpaddingtop']}px; right: {$diyitem['style']['iconpaddingleft']}px; text-align: right;"
                                 {/if}
                            >
                                {if $diyitem['params']['showicon']==1}


                                {elseif $diyitem['params']['showicon']==2 && !empty($diyitem['params']['goodsiconsrc'])}
                                    <img class="exclude" src="{php echo tomedia($diyitem['params']['goodsiconsrc'])}" onerror="this.src=''" style="width: {$diyitem['style']['iconzoom']}%;" />
                                {/if}
                            </div>
                        {/if}
                            {if  ($goodsitem['total']<=0 && empty($diyitem['params']['goodstype']) && $goodsitem['cansee']<=0) || ( $goodsitem['total']<=0 && empty($diyitem['params']['goodstype']) && $goodsitem['cansee']>0 &&   $goodsitem['seecommission']<=0) }
                                {if $diyitem['params']['saleout']>-1}
                                    {if $diyitem['params']['saleout']==0}
                                    <div class="salez diy" style="background-image: url('{if !empty($_W['shopset']['shop']['saleout' ]) }{php echo tomedia($_W['shopset']['shop']['saleout'])}{else}../addons/ewei_shopv2/static/images/shouqin.png{/if}'); "></div>
                                    {/if}
                                    {if $diyitem['params']['saleout']==1}
                                    <div class="salez diy" style="background-image: url('../addons/ewei_shopv2/plugin/diypage/static/images/default/saleout-{$diyitem['style']['saleoutstyle']}.png');"></div>
                                    {/if}
                                 {/if}
                            {/if}
                        <!--分销佣金-->
                        {if $goodsitem['cansee']>0 &&  $goodsitem['seecommission']>0 }
                        <div class="goods-Commission">
                            {php echo empty($goodsitem['seetitle'])?'预计最高佣金':$goodsitem['seetitle']}￥{$goodsitem['seecommission']}
                        </div>
                        {/if}
                    </div>
                    {if $diyitem['params']['showtitle']==1 || $diyitem['params']['showprice']==1}
                        <div class="detail">
                            {if $diyitem['params']['showtitle']==1}
                                <div class="name" style="color: {$diyitem['style']['titlecolor']};">
                                    {if $goodsitem['bargain']>0}
                                        <label style="background-color: {$diyitem['style']['buybtncolor']}; padding: 0px 2px; color: #fff; font-size: 0.6rem">砍价</label>
                                    {/if}
                                    {if !empty($diyitem['params']['goodstype']) && $diyitem['params']['showtag']>0}
                                        <label style="background-color: {$diyitem['style']['tagbackground']}; padding: 0px 2px; color: #fff; font-size: 0.6rem">{if $diyitem['params']['showtag']==1&&$goodsitem['productprice']>0}&yen{$goodsitem['productprice']}{elseif $diyitem['params']['showtag']==2}{if $goodsitem['gtype']==0}商品{elseif $goodsitem['gtype']==1}优惠券{elseif $goodsitem['gtype']==2}余额{elseif $goodsitem['gtype']==3}红包{/if}{elseif $diyitem['params']['showtag']==3}{if $goodsitem['ctype']==1}抽奖{else}兑换{/if}{/if}</label>
                                    {/if}

                                    {if $goodsitem['ctype']==9}
                                        <span class="cycle-tip" style="top:0rem;">周期购</span>
                                    {/if}

                                    {$goodsitem['title']}
                                </div>
                            {/if}
                            {if $diyitem['params']['showprice']==1}
                            <p class="productprice {if empty($diyitem['params']['showproductprice']) && $diyitem['params']['showsales']!=1}noheight{/if}">

                                    {if !empty($diyitem['params']['showproductprice']) && $goodsitem['productprice']>0 && $goodsitem['productprice']>$goodsitem['price']}
                                    <span style="color: {$diyitem['style']['productpricecolor']};">{php echo !empty($diyitem['params']['productpricetext'])?$diyitem['params']['productpricetext']:''}<span {if !empty($diyitem['params']['productpriceline'])}style="text-decoration: line-through;"{/if}>&yen;{$goodsitem['productprice']}</span></span>
                                    {/if}
                                    {if $diyitem['params']['showsales']==1}
                                    <span style="color: {$diyitem['style']['salescolor']};">{php echo !empty($diyitem['params']['salestext'])?$diyitem['params']['salestext']:'销量'}: {$goodsitem['sales']}</span>
                                    {/if}

                            </p>
                                <div class="price {if !empty($diyitem['style']['buystyle'])}buy{/if}">

                                    <span class="text" style="color: {$diyitem['style']['pricecolor']};">
                                        {if empty($diyitem['params']['goodstype'])}
                                            <p class="minprice">&yen;{php echo round($goodsitem['price'],2)}</p>
                                        {else}
                                            <p style="text-overflow:ellipsis;display: -webkit-box;overflow:hidden;-webkit-line-clamp: 1;-webkit-box-orient: vertical;word-break: break-all">
                                                {if $goodsitem['price']==0&&$goodsitem['credit']==0}免费
                                                {elseif $goodsitem['price']>0&&$goodsitem['credit']==0}{$goodsitem['price']}<small>{$textyuan}</small>
                                                {elseif $goodsitem['price']==0&&$goodsitem['credit']>0}{$goodsitem['credit']}<small>{$textjifen}</small>
                                                {elseif $goodsitem['price']>0&&$goodsitem['credit']>0}{$goodsitem['credit']}<small>{$textjifen}</small>+{$goodsitem['price']}<small>{$textyuan}</small>{/if}
                                            </p>
                                        {/if}

                                    </span>
                                    {if !empty($diyitem['style']['buystyle']) && empty($goodsitem['bargain']) && empty($diyitem['params']['goodstype']) && $goodsitem['ctype']!=9}
                                        {if $diyitem['style']['buystyle']=='buybtn-1'}
                                            <span class="buy buybtn-1" style="border-color: {$diyitem['style']['buybtncolor']};color:  {$diyitem['style']['buybtncolor']}">购买</span>
                                        {elseif $diyitem['style']['buystyle']=='buybtn-2'}
                                            <span class="buy buybtn-2" style="background-color: {$diyitem['style']['buybtncolor']};">购买</span>
                                        {elseif $diyitem['style']['buystyle']=='buybtn-3'}
                                            <span class="buy buybtn-3" style="background-color: {$diyitem['style']['buybtncolor']};"><i class="icon icon-cartfill"></i></span>
                                        {elseif $diyitem['style']['buystyle']=='buybtn-4'}
                                            <span class="buy buybtn-4" style="border-color: {$diyitem['style']['buybtncolor']};"><i class="icon icon-cart" style="color: {$diyitem['style']['buybtncolor']}"></i></span>
                                        {elseif $diyitem['style']['buystyle']=='buybtn-5'}
                                            <span class="buy buybtn-5" style="border-color: {$diyitem['style']['buybtncolor']};"><i class="icon icon-add" style="color:  {$diyitem['style']['buybtncolor']}"></i></span>
                                        {elseif $diyitem['style']['buystyle']=='buybtn-6'}
                                            <span class="buy buybtn-6" style="background-color: {$diyitem['style']['buybtncolor']};"><i class="icon icon-add"></i></span>
                                        {/if}
                                    {elseif !empty($goodsitem['bargain'])}
                                        <span class="buy buybtn-1 bargain-btn" style="border-color: {$diyitem['style']['buybtncolor']};color:  {$diyitem['style']['buybtncolor']}">砍价</span>
                                    {elseif !empty($diyitem['params']['goodstype'])}
                                    {if !empty($goodsitem['ctype'])}
                                        <span class="buy buybtn-2" style="background-color: {$diyitem['style']['buybtncolor']};">抽奖</span>
                                    {else}
                                    <span class="buy buybtn-3" style="background-color: {$diyitem['style']['buybtncolor']};">兑换</span>
                                    {/if}
                                    {elseif $goodsitem['ctype']==9}
                                        <span class="cycelbuy" style="border-color: {$diyitem['style']['buybtncolor']};color:  {$diyitem['style']['buybtncolor']}">详情</span>
                                    {/if}
                                </div>
                            {/if}
                        </div>
                    {/if}

                </a>
            {/loop}
        </div>
    {else}
        <div class="swiper swiper-{$diyitemid}" data-element=".swiper-{$diyitemid}" data-view="{if $diyitem['style']['liststyle']=='block three'}3{elseif $diyitem['style']['liststyle']=='block one'}1{else}2{/if}" data-free="true" data-btn="true">
            <div class="swiper-container fui-goods-group {$diyitem['style']['liststyle']}" style="background: {$diyitem['style']['background']};">
                <div class="swiper-wrapper" style="z-index:-1;">
                    {loop $diyitem['data'] $goodsitem}
                    <a  class="swiper-slide fui-goods-item" data-goodsid="{$goodsitem['gid']}" href="{if $goodsitem['ctype']==9}{php echo mobileUrl('cycelbuy/goods/detail', array('id'=>$goodsitem['gid']))}{else}{php echo mobileUrl(empty($diyitem['params']['goodstype'])?'goods/detail':'creditshop/detail', array('id'=>$goodsitem['gid']))}{/if}" data-type="{php echo empty($diyitem['params']['goodstype'])? $goodsitem['ctype']:0}" data-nocache="true" style="position: relative;">
                        <div class="image   {if $diyitem['params']['showicon']==1}{$diyitem['style']['iconstyle']}{/if}" data-text="
                            {if $diyitem['style']['goodsicon']=='recommand'}推荐{/if}
                            {if $diyitem['style']['goodsicon']=='hotsale'}热销{/if}
                            {if $diyitem['style']['goodsicon']=='isnew'}新上{/if}
                            {if $diyitem['style']['goodsicon']=='sendfree'}包邮{/if}
                            {if $diyitem['style']['goodsicon']=='istime'}限时卖{/if}
                            {if $diyitem['style']['goodsicon']=='bigsale'}促销{/if}
                        " style="background-image: url({php echo tomedia($goodsitem['thumb'])})">

                            {if  ($goodsitem['total']<=0 && empty($diyitem['params']['goodstype']) && $goodsitem['cansee']<=0) || ( $goodsitem['total']<=0 && empty($diyitem['params']['goodstype']) && $goodsitem['cansee']>0 &&   $goodsitem['seecommission']<=0) }
                                {if $diyitem['params']['saleout']>-1}
                                    {if $diyitem['params']['saleout']==0}
                                    <div class="salez diy" style="background-image: url('{php echo tomedia($_W['shopset']['shop']['saleout'])}'); "></div>
                                    {/if}
                                    {if $diyitem['params']['saleout']==1}
                                    <div class="salez diy" style="background-image: url('../addons/ewei_shopv2/plugin/diypage/static/images/default/saleout-{$diyitem['style']['saleoutstyle']}.png');"></div>
                                    {/if}
                                {/if}
                            {/if}

                            {if $diyitem['params']['showicon']==1 || $diyitem['params']['showicon']==2}
                                <div class="goodsicon {$diyitem['params']['iconposition']}"
                                     {if $diyitem['params']['iconposition']=='left top'}
                                        style="top: {$diyitem['style']['iconpaddingtop']}px; left: {$diyitem['style']['iconpaddingleft']}px; text-align: left;"
                                     {elseif $diyitem['params']['iconposition']=='right top'}
                                        style="top: {$diyitem['style']['iconpaddingtop']}px; right: {$diyitem['style']['iconpaddingleft']}px; text-align: right;"
                                     {elseif $diyitem['params']['iconposition']=='left bottom'}
                                        style="bottom: {$diyitem['style']['iconpaddingtop']}px; left: {$diyitem['style']['iconpaddingleft']}px; text-align: left;"
                                     {elseif $diyitem['params']['iconposition']=='left bottom'}
                                        style="bottom: {$diyitem['style']['iconpaddingtop']}px; right: {$diyitem['style']['iconpaddingleft']}px; text-align: right;"
                                     {/if}
                                 >
                                    {if $diyitem['params']['showicon']==1}
                                        <!--<img src="../addons/ewei_shopv2/plugin/diypage/static/images/default/goodsicon-{$diyitem['style']['goodsicon']}.png" style="width: {$diyitem['style']['iconzoom']}%;" />-->
                                    {elseif $diyitem['params']['showicon']==2 && !empty($diyitem['params']['goodsiconsrc'])}
                                        <img src="{php echo tomedia($diyitem['params']['goodsiconsrc'])}" onerror="this.src=''" style="width: {$diyitem['style']['iconzoom']}%;" />
                                    {/if}
                                </div>
                                {/if}
                        <!--分销佣金-->
                        {if $goodsitem['cansee']>0 &&  $goodsitem['seecommission']>0 }
                        <div class="goods-Commission">
                            {php echo empty($goodsitem['seetitle'])?'预计最高佣金':$goodsitem['seetitle']}￥{$goodsitem['seecommission']}
                        </div>
                        {/if}
                            </div>
                             {if $diyitem['params']['showtitle']==1 || $diyitem['params']['showprice']==1}
                            <div class="detail">
                                {if $diyitem['params']['showtitle']==1}
                                    <div class="name" style="color: {$diyitem['style']['titlecolor']}; ">
                                        {if $goodsitem['bargain']>0}
                                        <label style="background-color: {$diyitem['style']['buybtncolor']}; padding: 0px 2px; color: #fff; font-size: 0.6rem">砍价</label>
                                        {/if}
                                        {if !empty($diyitem['params']['goodstype']) && $diyitem['params']['showtag']>0}
                                            <label style="background-color: {$diyitem['style']['tagbackground']}; padding: 0px 2px; color: #fff; font-size: 0.6rem">{if $diyitem['params']['showtag']==1&&$goodsitem['productprice']>0}&yen{$goodsitem['productprice']}{elseif $diyitem['params']['showtag']==2}{if $goodsitem['gtype']==0}商品{elseif $goodsitem['gtype']==1}优惠券{elseif $goodsitem['gtype']==2}余额{elseif $goodsitem['gtype']==3}红包{/if}{elseif $diyitem['params']['showtag']==3}{if $goodsitem['ctype']==1}抽奖{else}兑换{/if}{/if}</label>
                                        {/if}

                                        {if $goodsitem['ctype']==9}
                                        <span class="cycle-tip" style="top:0rem;">周期购</span>
                                        {/if}

                                        {$goodsitem['title']}
                                    </div>
                                {/if}
                                {if $diyitem['params']['showprice']==1}
                                {if (!empty($diyitem['params']['showproductprice']) && $goodsitem['productprice']>0 && $goodsitem['productprice']>$goodsitem['price']) || $diyitem['params']['showsales']==1}
                                <p class="productprice {if empty($diyitem['params']['showproductprice']) && $diyitem['params']['showsales']!=1}noheight{/if}">
                                    {if !empty($diyitem['params']['showproductprice']) && $goodsitem['productprice']>0 && $goodsitem['productprice']>$goodsitem['price']}
                                    <span style="color: {$diyitem['style']['productpricecolor']};">{php echo !empty($diyitem['params']['productpricetext'])?$diyitem['params']['productpricetext']:'原价'}:<span {if !empty($diyitem['params']['productpriceline'])}style="text-decoration: line-through;"{/if}>&yen{$goodsitem['productprice']}</span></span>
                                    {/if}
                                    {if $diyitem['params']['showsales']==1}
                                    <span style="color: {$diyitem['style']['salescolor']};">{php echo !empty($diyitem['params']['salestext'])?$diyitem['params']['salestext']:'销量'}: {$goodsitem['sales']}</span>
                                    {/if}
                                </p>
                                {/if}
                                <div class="price {if !empty($diyitem['style']['buystyle'])}buy{/if}">
                                        <span class="text" style="color: {$diyitem['style']['pricecolor']};">
                                            {if empty($diyitem['params']['goodstype'])}
                                                <p class="minprice">&yen{php echo round($goodsitem['price'],2)}</p>
                                            {else}
                                                <p style="text-overflow:ellipsis;display: -webkit-box;overflow:hidden;-webkit-line-clamp: 1;-webkit-box-orient: vertical;word-break: break-all">
                                                    {if $goodsitem['price']==0&&$goodsitem['credit']==0}免费
                                                    {elseif $goodsitem['price']>0&&$goodsitem['credit']==0}{$goodsitem['price']}<small>{$textyuan}</small>
                                                    {elseif $goodsitem['price']==0&&$goodsitem['credit']>0}{$goodsitem['credit']}<small>{$textjifen}</small>
                                                    {elseif $goodsitem['price']>0&&$goodsitem['credit']>0}{$goodsitem['credit']}<small>{$textjifen}</small>+{$goodsitem['price']}<small>{$textyuan}</small>{/if}
                                                </p>
                                            {/if}

                                        </span>
                                        {if !empty($diyitem['style']['buystyle']) && empty($goodsitem['bargain']) && empty($diyitem['params']['goodstype']) && $goodsitem['ctype']!=9}
                                    {if $diyitem['style']['buystyle']=='buybtn-1'}
                                        <span class="buy buybtn-1" style="border-color: {$diyitem['style']['buybtncolor']};color:  {$diyitem['style']['buybtncolor']}">购买</span>
                                        {elseif $diyitem['style']['buystyle']=='buybtn-2'}
                                        <span class="buy buybtn-2" style="background-color: {$diyitem['style']['buybtncolor']};">购买</span>
                                        {elseif $diyitem['style']['buystyle']=='buybtn-3'}
                                        <span class="buy buybtn-3" style="background-color: {$diyitem['style']['buybtncolor']};"><i class="icon icon-cartfill"></i></span>
                                        {elseif $diyitem['style']['buystyle']=='buybtn-4'}
                                        <span class="buy buybtn-4" style="border-color: {$diyitem['style']['buybtncolor']};"><i class="icon icon-cart" style="color: {$diyitem['style']['buybtncolor']}"></i></span>
                                        {elseif $diyitem['style']['buystyle']=='buybtn-5'}
                                        <span class="buy buybtn-5" style="border-color: {$diyitem['style']['buybtncolor']};"><i class="icon icon-add" style="color:  {$diyitem['style']['buybtncolor']}"></i></span>
                                        {elseif $diyitem['style']['buystyle']=='buybtn-6'}
                                        <span class="buy buybtn-6" style="background-color: {$diyitem['style']['buybtncolor']};"><i class="icon icon-add"></i></span>
                                        {/if}
                                        {elseif !empty($goodsitem['bargain'])}
                                        <span class="buy bargain-btn" style="background-color: {$diyitem['style']['buybtncolor']};">砍价</span>
                                        {elseif !empty($diyitem['params']['goodstype'])}
                                        {if !empty($goodsitem['ctype'])}
                                        <span class="buy buybtn-3" style="background-color: {$diyitem['style']['buybtncolor']};">抽奖</span>
                                       {else}
                                    <span class="buy buybtn-3" style="background-color: {$diyitem['style']['buybtncolor']};">兑换</span>
                                        {/if}
                                        {elseif $goodsitem['ctype']==9}
                                        <span class="cycelbuy" style="border-color: {$diyitem['style']['buybtncolor']};color:  {$diyitem['style']['buybtncolor']}">详情</span>
                                        {/if}
                                    </div>
                                {/if}
                            </div>
                        {/if}



                    </a>
                    {/loop}
                </div>
                <div class="swiper-button-next swiper-button-white" style="z-index: 999999;"></div>
                <div class="swiper-button-prev swiper-button-white" style="z-index: 999999;"></div>
            </div>
        <script>
            var goodsGroup = $(".swiper-{$diyitemid} .fui-goods-group");
            var swiperBtnTop= goodsGroup.find('.image').outerHeight() * 0.5;
            var swiperBtn = goodsGroup.find('.swiper-button-white');
            var swiperBtnMarginTop = swiperBtnTop - (swiperBtn.height() * 0.5)+10;
            swiperBtn.css({'top':0, 'margin-top': swiperBtnMarginTop});
        </script>
        </div>
    {/if}
{/if}
