{if !empty($diyitem['data'])}
    <div class="fui-picture" style="padding-bottom: {$diyitem['style']['paddingtop']}px; background: {$diyitem['style']['background']};">
        {loop $diyitem['data'] $pictureitem}
        <a href="{php echo empty($pictureitem['linkurl'])? 'javascript:;': $pictureitem['linkurl']}" style="display: block; padding: {$diyitem['style']['paddingtop']}px {$diyitem['style']['paddingleft']}px;" data-nocache="true">
            <img class="wxpreview" src="{php echo tomedia($pictureitem['imgurl'])}"  />
        </a>
        {/loop}
    </div>
{/if}