<div class="fui-goods-group block goodslist" style="background: #f3f3f3;display: none">

</div>


<div class="store-list" style="background: #f3f3f3;font-size: 0.8rem;color: #333; position: relative;display: none">
    <div class="storeslist" style="display: block;overflow: scroll;list-style:none;background: #fff;">

    </div>
</div>
