<!-- 商品信息块 -->
<div class="fui-cell-group fui-detail-group" style="margin-top: {$diyitem['style']['margintop']}px; margin-bottom: {$diyitem['style']['marginbottom']}px; background: {$diyitem['style']['background']};" >
    <div class="fui-cell">
        <div class="fui-cell-text name" style="color: {$diyitem['style']['titlecolor']};">{if $goods['ispresell']==1}<i class="fui-tag fui-tag-danger" style="vertical-align: bottom;">预</i> {/if}{$goods['title']}</div>
        {if empty($diyitem['params']['hideshare'])}
            <a class="fui-cell-remark share"  {if !empty($diyitem['params']['share_link'])}href="{$diyitem['params']['share_link']}" data-nocache="true"{elseif !empty($goods['sharebtn']) && $member['isagent']==1 && $member['status']==1} href="{php echo mobileUrl('commission/qrcode', array('goodsid'=>$goods['id']))}" {else} id='btn-share' {/if}>
            <i class="icon {php echo empty($diyitem['params']['share_icon'])?'icon-share':$diyitem['params']['share_icon']}"></i><p>{php echo !empty($diyitem['params']['share'])?$diyitem['params']['share']:"分享"}</p>
            </a>
        {/if}
    </div>
    {if !empty($goods['subtitle'])}
    <div class="fui-cell goods-subtitle">
        <span class='text-danger' style="color: {$diyitem['style']['subtitlecolor']};">{$goods['subtitle']}</span>
    </div>
    {/if}

    {if $goods['type']==4}
    {if $goods['cansee']>0 &&  $goods['seecommission']>0 }
    <div style="height: 1.3rem;margin:0.2rem 0.6rem">
        <div class="detail-Commission flex" style="padding-bottom: 0;display: inline-flex;float: right;">
            <div class="text"> {php echo empty($goods['seetitle'])?'预计最高佣金':$goods['seetitle']}</div>
            <div class="num flex1">￥{$goods['seecommission']}</div>
        </div>
    </div>
    {/if}
        <!--批发价格-->
        <div class="fui-cell goods-bulk">
            <div class="fui-cell-text  flex">
                {if $goods['intervalfloor']>0}
                <span>
                        <p class="price" style="color: {$diyitem['style']['pricecolor']};"><small>￥</small>{$goods['intervalprice1']}</p>
                      <p>{$goods['intervalnum1']} {if $goods['intervalfloor']>1}-{php echo intval($goods['intervalnum2'])-1}{$goods['unit']}{else}{$goods['unit']}以上{/if}</p>
                    </span>
                {/if}
                {if $goods['intervalfloor']>1}
                <span>
                        <p class="price" style="color: {$diyitem['style']['pricecolor']};"><small>￥</small>{$goods['intervalprice2']}</p>
                       <p>{$goods['intervalnum2']}{if $goods['intervalfloor']>2}-{php echo intval($goods['intervalnum3'])-1}{$goods['unit']}{else}{$goods['unit']}以上{/if}</p>
                    </span>
                {/if}
                {if $goods['intervalfloor']>2}
                <span>
                        <p class="price" style="color: {$diyitem['style']['pricecolor']};"><small>￥</small>{$goods['intervalprice3']}</p>
                          <p>>{$goods['intervalnum3']}{$goods['unit']}</p>
                    </span>
                {/if}
            </div>
        </div>
    {/if}

    {if empty($seckillinfo) && $goods['type']!=4}
    <div class="fui-cell">
        <div class="fui-cell-text price">
            {if $islive}
                <span class="live-price" style="background-color: {$diyitem['style']['pricecolor']};">直播价</span>
            {/if}

			<span class="text-danger" style="vertical-align: middle; color: {$diyitem['style']['pricecolor']}; ">
			￥{if $goods['ispresell']>0 && ($goods['preselltimeend'] == 0 || $goods['preselltimeend'] > time())}{$goods['presellprice']}
                {else}
                    {if $goods['minprice']==$goods['maxprice']}{$goods['minprice']}{else}{$goods['minprice']}~{$goods['maxprice']}{/if}
                {/if}
			{if $goods['isdiscount'] && $goods['isdiscount_time']>=time() && $goods['isdiscount_time_start'] < time()}
			     <span class="original">￥{$goods['productprice']}</span>
			{else}
			{if $goods['productprice']>0}<span  class="original">￥{$goods['productprice']}</span>{/if}
			{/if}
			</span>
        </div>
        <!--分销佣金-->
        {if $goods['cansee']>0 &&  $goods['seecommission']>0 }
        <div class="detail-Commission flex" style="padding-bottom: 0">
            <div class="text"> {php echo empty($goods['seetitle'])?'预计最高佣金':$goods['seetitle']}</div>
            <div class="num flex1">￥{$goods['seecommission']}</div>
        </div>
        {/if}
    </div>


        {if $goods['isdiscount'] == 1 && $goods['isdiscount_time']>=time() && $goods['isdiscount_time_start'] <= time()}
        <div class="row row-time">
            <div id='discount-container' class='fui-labeltext fui-labeltext-danger' style="background: {$diyitem['style']['timecolor']};""
                 data-now="{php echo date('Y-m-d H:i:s')}"
                 data-end="{php echo date('Y-m-d H:i:s', $goods['isdiscount_time'])}"
                 data-end-label='{php echo empty($goods['isdiscount_title'])?'促销':$goods['isdiscount_title']}' >
            <i class="icon icon-clock" style="float: left;color: {$diyitem['style']['timetextcolor']};"></i>
            <div class='label' style="background: {$diyitem['style']['timecolor']};color: {$diyitem['style']['timetextcolor']};">{php echo empty($goods['isdiscount_title'])?'促销':$goods['isdiscount_title']}</div>
            <div class='text' style="color: {$diyitem['style']['timetextcolor']};"><span class="day number " style="color: {$diyitem['style']['timetextcolor']};">-</span><span class="time">天</span><span class="hour number " style="color: {$diyitem['style']['timetextcolor']};">-</span><span class="time">小时</span><span class="minute number " style="color: {$diyitem['style']['timetextcolor']};">-</span><span class="time">分</span><span class="second number " style="color: {$diyitem['style']['timetextcolor']};">-</span><span class="time">秒</span>
            </div>
        </div>
    </div>
    {/if}


{if $goods['istime']}
<div class="row row-time">
    <div id='time-container' class='fui-labeltext fui-labeltext-danger' style="background: {$diyitem['style']['timecolor']};";
         data-now="{php echo date('Y-m-d H:i:s')}"
         data-start-label="距离{php echo empty($_W['shopset']['trade']['istimetext'])? '限时购': $_W['shopset']['trade']['istimetext']}开始"
         data-end-label="距离{php echo empty($_W['shopset']['trade']['istimetext'])? '限时购': $_W['shopset']['trade']['istimetext']}结束"
         data-end-text='活动已经结束，下次早点来~'
         data-start="{php echo date('Y-m-d H:i:s', $goods['timestart'])}"
         data-end="{php echo date('Y-m-d H:i:s', $goods['timeend'])}">
        <i class="icon icon-clock" style="float: left;color: {$diyitem['style']['timetextcolor']};"></i>
        <div class='label' style="background: {$diyitem['style']['timecolor']};color: {$diyitem['style']['timetextcolor']};">{php echo empty($_W['shopset']['trade']['istimetext'])? '限时购': $_W['shopset']['trade']['istimetext']}</div>
        <div class='text' style="color: {$diyitem['style']['timetextcolor']};">
            <span class="day number" style="color: {$diyitem['style']['timetextcolor']};"></span>
            <span class="time">天</span>
            <span class="hour number" style="color: {$diyitem['style']['timetextcolor']};"></span>
            <span class="time">小时</span>
            <span class="minute number" style="color: {$diyitem['style']['timetextcolor']};"></span>
            <span class="time">分</span>
            <span class="second number" style="color: {$diyitem['style']['timetextcolor']};"></span>
            <span class="time">秒</span>
        </div>
    </div>
</div>
{/if}
{/if}

{if $goods['ispresell']==1 && ($goods['preselltimestart'] > time() || $goods['preselltimeend'] > time())}
<div class="row row-time" >
    <div id='time-presell' class='fui-labeltext fui-labeltext-danger'
         data-now="{php echo date('Y-m-d H:i:s')}"
         data-start-label='距离预售开始'
         data-end-label='距离预售结束'
         data-end-text='活动已经结束，下次早点来~'
         data-start="{php echo date('Y-m-d H:i:s', $goods['preselltimestart'])}"
         data-end="{php echo date('Y-m-d H:i:s', $goods['preselltimeend'])}" style="background: {$diyitem['style']['timecolor']};color: {$diyitem['style']['timetextcolor']};">
        <i class="icon icon-clock" style="float: left;color: {$diyitem['style']['timetextcolor']};"></i>
        <div class='label'  style="background: {$diyitem['style']['timecolor']};color: {$diyitem['style']['timetextcolor']};">预售</div>
        <div class='text' style="color: {$diyitem['style']['timetextcolor']};">
            <span class="day number" ></span><span class="time">天</span><span class="hour number" ></span><span class="time">小时</span><span class="minute number"></span><span class="time">分</span><span class="second number" ></span><span class="time">秒</span>
        </div>
    </div>
</div>
{/if}
<div class="fui-cell"  style="font-size: 0.55rem;line-height: 1.2rem;justify-content: space-between;-webkit-justify-content: space-between;flex-wrap: wrap;-webkit-flex-wrap: wrap;color: #666;">
        {if is_array($goods['dispatchprice'])}
            {if $goods['type']==1 && $goods['isverify']!=2}
                <p style="color: {$diyitem['style']['textcolor']};">快递:  {php echo number_format($goods['dispatchprice']['min'],2)} ~ {php echo number_format($goods['dispatchprice']['max'],2)}</p>
            {/if}
        {else}
            {if $goods['type']==1 && $goods['isverify']!=2}
                <p style="color: {$diyitem['style']['textcolor']};">快递:  {php echo $goods['dispatchprice'] == 0 ? '包邮' : number_format($goods['dispatchprice'],2)}</p>
            {/if}
        {/if}
        {if $seckillinfo==false || ( $seckillinfo && $seckillinfo.status==1)}
            {if $goods['showtotal'] == 1}
            <p style="color: {$diyitem['style']['textcolor']};">库存:  {$goods['total']}</p>
            {/if}
            {if !empty($goods['showsales'])}
                <p style="color: {$diyitem['style']['textcolor']};">销量:  {php echo number_format($goods['sales'],0)} {$goods['unit']}</p>
            {/if}
        {else}
            <p></p>
            <p></p>
        {/if}
        {if $goods['province'] != '请选择省份' && $goods['city'] != '请选择城市'}
            <p style="color: {$diyitem['style']['textcolor']};">{$goods['province']} {$goods['city']}</p>
        {/if}
</div>
{if $goods['ispresell']==1 && ( $goods['preselltimeend'] > time() ||  $goods['preselltimeend'] == 0)}
<div class='fui-cell-group fui-cell-click  fui-sale-group' style='margin-top:0'>
    <div class="fui-list">
        <div class="fui-list-media" style="margin-right: 0;align-self: flex-start;-webkit-align-self: flex-start">
            <div class='fui-cell-text'>
                <span style="font-size: 0.65rem;color: #666;vertical-align: top">预售：</span>
            </div>
        </div>
        <div class="fui-list-inner" style="font-size:0.65rem;color:#666;">
            {if $goods['preselltimeend'] > 0}
            结束时间：{php echo date('m月d日 H:i:s', $goods['preselltimeend'])}<br />
            {/if}
            预计发货：{if $goods['presellsendtype']>0}购买后{$goods['presellsendtime']}天发货{else}{php echo date('m月d日', $goods['presellsendstatrttime'])}{/if}
        </div>
    </div>
</div>
{/if}

</div>