{template '_header'}
<style>
    .btn-default.btn-color{
        position: relative;padding: 4px 15px 4px 4px;
    }
    .btn-default.btn-color .inner{
        height:22px;width:50px;
    }
    .dropdown-menu.color-list .color-block{
        width: 25px;height: 25px;border: 1px solid #fff;margin: 2px;padding: 0;float: left;
    }
    .dropdown-menu.color-list{
        max-width: 184px;margin-left: 10px;padding: 4px;
    }
    .btn-color:after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 4px;
        width: 0;
        height: 0;
        border: 3px solid;
        margin-top: -2px;
        border-color: #fff transparent transparent transparent;
    }

    .btn-color:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 4px;
        width: 0;
        height: 0;
        border: 3px solid;
        margin-top: -1px;
        border-color: #000 transparent transparent transparent;
    }
</style>
<form {ifp 'app.setting.edit'}action="" method="post"{/if} class="form-horizontal form-validate" enctype="multipart/form-data" >

<div class="page-header">
    当前位置：
    <span class="text-primary">小程序设置</span>
</div>

<div class="page-content" style="padding-bottom: 50px;">
    {template 'app/_tab'}

    <div class="form-group-title">基本设置</div>
    <div class="form-group">
        <label class="col-lg control-label must">AppID(小程序ID)</label>
        <div class="col-sm-9">
            <input class="form-control valid" value="{$sets['app']['appid']}" {ifp 'app.setting.edit'}name="set[appid]"{else}disabled{/if} />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg control-label must" style="padding-top: 0;">AppSecret<br>(小程序密钥)</label>
        <div class="col-sm-9">
            <input class="form-control valid" name="set[secret]" value="{$sets['app']['secret']}" {ifp 'app.setting.edit'}name="set[secret]"{else}disabled{/if} />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg control-label">维护小程序</label>
        <div class="col-sm-9">
            <label class="radio-inline"><input class="toggle" data-show="1" data-class="closetext" type="radio" value="1" {if !empty($sets['app']['isclose'])}checked{/if}  {ifp 'app.setting.edit'}name="set[isclose]"{else}disabled{/if} > 维护中</label>
            <label class="radio-inline"><input class="toggle" data-show="0" data-class="closetext" type="radio" value="0" {if empty($sets['app']['isclose'])}checked{/if} {ifp 'app.setting.edit'}name="set[isclose]"{else}disabled{/if} >正常</label>
        </div>
    </div>

    <div class="form-group closetext" {if empty($sets['app']['isclose'])}style="display: none"{/if}>
    <label class="col-lg control-label must">维护说明</label>
    <div class="col-sm-9">
        <textarea class="form-control" {ifp 'app.setting.edit'}name="set[closetext]"{else}disabled{/if}>{$sets['app']['closetext']}</textarea>
    </div>
</div>

{if com('sms')&&com('wap')}
<div class="form-group">
    <label class="col-lg control-label">开启用户绑定</label>
    <div class="col-sm-9">
        <label class="radio-inline"><input class="toggle" data-show="1" data-class="openbind" type="radio" value="1" {if !empty($sets['app']['openbind'])}checked{/if} {ifp 'app.setting.edit'}name="set[openbind]"{else}disabled{/if}> 开启</label>
        <label class="radio-inline"><input class="toggle" data-show="0" data-class="openbind" type="radio" value="0" {if empty($sets['app']['openbind'])}checked{/if} {ifp 'app.setting.edit'}name="set[openbind]"{else}disabled{/if}>关闭</label>
        <div class="help-block">注意：如果<span class="text-danger">小程序开启用户绑定或者WAP端开启</span> 都为开启用户绑定</div>
    </div>
</div>

<div class="form-group openbind" {if empty($sets['app']['openbind'])}style="display: none"{/if}>
<label class="col-lg control-label must">绑定短信模板</label>
<div class="col-sm-9 col-xs-12">
    <select class="select2" style="display: block; width: 100%" {ifp 'app.setting.edit'}name="set[sms_bind]"{else}disabled{/if}>
    <option value=''>从短信消息库中选择</option>
    {loop $sms_list $template_val}
    <option value="{$template_val['id']}" {if $sets['app']['sms_bind']==$template_val['id']}selected{/if}>{$template_val['name']}</option>
    {/loop}
    </select>
</div>
</div>

<div class="form-group openbind" {if empty($sets['app']['openbind'])}style="display: none"{/if}>
<label class="col-lg control-label">绑定提示文字</label>
<div class="col-sm-9 col-xs-12">
    <textarea class="form-control" {ifp 'app.setting.edit'}name="set[bindtext]"{else}disabled{/if}>{$sets['app']['bindtext']}</textarea>
    <div class="help-block">提示：此处文字显示在会员中心提示绑定手机号位置，不填默认显示“绑定手机号可合并或同步您其他账号数据”</div>
</div>
</div>
{/if}

{if $commission}
<div class="form-group">
    <label class="col-lg control-label">是否显示分销</label>
    <div class="col-sm-9">
        <label class="radio-inline"><input type="radio" value="0" {if empty($sets['app']['hidecom'])}checked{/if} {ifp 'app.setting.edit'}name="set[hidecom]"{else}disabled{/if} >显示</label>
        <label class="radio-inline"><input type="radio" value="1" {if !empty($sets['app']['hidecom'])}checked{/if}  {ifp 'app.setting.edit'}name="set[hidecom]"{else}disabled{/if} > 不显示</label>
        <div class="help-block">提示：此处关闭后则不在会员中心显示分销入口</div>
    </div>
</div>
{/if}

<div class="form-group">
    <label class="col-lg control-label">模板消息链接</label>
    <div class="col-sm-9">
        <label class="radio-inline"><input type="radio" value="1" {if !empty($sets['app']['sendappurl'])}checked{/if} {ifp 'app.setting.edit'}name="set[sendappurl]"{else}disabled{/if}> 优先使用小程序</label>
        <label class="radio-inline"><input type="radio" value="0" {if empty($sets['app']['sendappurl'])}checked{/if} {ifp 'app.setting.edit'}name="set[sendappurl]"{else}disabled{/if}>优先使用公众号</label>
        <div class="help-block">小程序开启后,系统默认模板消息使用的详情链接优先使用小程序链接</div>
    </div>
</div>

<div class="form-group">
    <label class="col-lg control-label">快捷导航(商品详情)</label>
    <div class="col-sm-9">
        <label class="radio-inline"><input type="radio" value="0" {if empty($sets['app']['navbar'])}checked{/if} {ifp 'app.setting.edit'}name="set[navbar]"{else}disabled{/if}> 样式一</label>
        <label class="radio-inline"><input type="radio" value="1" {if !empty($sets['app']['navbar'])}checked{/if} {ifp 'app.setting.edit'}name="set[navbar]"{else}disabled{/if}> 样式二</label>

        <div class="help-block">仅在商品详情悬浮显示，<a href="javascript:;" data-placement="right" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<img src='../addons/ewei_shopv2/plugin/app/static/images/navbar.png'>">预览样式</a></div>
    </div>
</div>

<!--<div class="form-group">-->
<!--    <label class="col-lg control-label must">授权页背景图</label>-->
<!--    <div class="col-md-9">-->
<!--        {php echo tpl_form_field_image2('auth_background_image',$sets['app']['auth_background_image'])}-->
<!--        <span class="help-block image-block">小程序授权页面背景图，不设置使用默认图片。</span>-->
<!--        <span class="help-block">建议尺寸****。</span>-->
<!--    </div>-->
<!--</div>-->

<div class="form-group">
    <label class="col-lg control-label">授权方式</label>
    <div class="col-sm-9">
        <label class="radio-inline"><input type="radio" value="0" name="set[force_auth]" {if empty($sets['app']['force_auth'])}checked{/if}>下单授权</label>
        <label class="radio-inline"><input type="radio" value="1" name="set[force_auth]" {if $sets['app']['force_auth'] == 1}checked{/if}>首页授权</label>
        <div class="help-block">下单授权：购买、加入购物车、会员中心页时强制授权。</div>
        <div class="help-block">首页授权：启动小程序时强制授权。（推荐使用）</div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label" style="padding-top: 0;">核销二维码生成链接<br>(公众号业务域名)</label>
    <div class="col-sm-9">
        <input class="form-control valid" name="set[verifyurl]" value="{$sets['app']['verifyurl']}" {ifp 'app.setting.edit'}name="set[verifyurl]"{else}disabled{/if} />
        <div class="help-block">请填写带有https或者http的完整域名 <span style="color: red"> (最后不要带/)</span></div>
    </div>
</div>

<div class="form-group-title">小程序上传设置</div>
<div class="form-group">
    <label class="col-lg control-label">上传方式</label>
    <div class="col-sm-9">
        <label class="radio-inline"><input  class="toggle" data-show="1" data-class="new-uploader" type="radio" value="1" name="set[new_uploader]" {if $sets['app']['new_uploader'] == 1}checked{/if}>新版上传</label>
        <label class="radio-inline"><input  class="toggle" data-show="0" data-class="new-uploader" type="radio" value="0" name="set[new_uploader]" {if empty($sets['app']['new_uploader'])}checked{/if}>老版上传</label>
        <div class="help-block">使用新版上传只需上传，上传代码小程序无需每次进行扫码</div>
    </div>
</div>
<div class="form-group new-uploader"   {if empty($sets['app']['new_uploader'])}style="display: none;"{/if}>
    <label class="col-lg control-label">上传密钥</label>
    <div class="col-sm-9 col-xs-12">
        {ifp 'app.pay.edit'}
        <input type="file" name="new_uploader_key_file" class="form-control" />
        <span class="help-block">
                                        {if !empty($sets['app']['new_uploader_key'])}
                                            <span class='label label-success'>已上传</span>
                                        {else}
                                            <span class='label label-danger'>未上传</span>
                                        {/if}
            下载密钥：<a href="https://mp.weixin.qq.com" target="_blank">微信小程序后台</a> ->开发->开发设置->小程序代码上传->小程序代码上传密钥
                                    </span>
        {else}
        {if !empty($sets['app']['new_uploader_key'])}
        <span class='label label-success'>已上传</span>
        {else}
        <span class='label label-danger'>未上传</span>
        {/if}
        {/if}
    </div>
</div>


<div class="form-group-title">客服功能</div>
<div class="form-group">
    <label class="col-lg control-label">客服功能</label>
    <div class="col-sm-9">
        <label class="radio-inline"><input class="toggle" data-show="1" data-class="block-kfbtn" type="radio" value="1" {if !empty($sets['app']['customer'])}checked{/if} {ifp 'app.setting.edit'}name="set[customer]"{else}disabled{/if}> 开启</label>
        <label class="radio-inline"><input class="toggle" data-class="block-kfbtn" type="radio" value="0" {if empty($sets['app']['customer'])}checked{/if} {ifp 'app.setting.edit'}name="set[customer]"{else}disabled{/if}>关闭</label>
        <div class="help-block">客服按钮显示位置：首页、商品详情页、会员中心页、订单详情页 <a href="https://mpkf.weixin.qq.com/" target="_blank">客服登录地址</a></div>
    </div>
</div>
<input type="hidden" name="set[customercolor]" value="{$customercolor}" id="customercolors">
<div class="form-group">
    <label class="col-lg control-label">电话客服</label>
    <div class="col-sm-9">
        <label class="radio-inline"><input class="toggle" data-show="1" data-class="block-phonebtn" type="radio" value="1" {if !empty($sets['app']['phone'])}checked{/if} {ifp 'app.setting.edit'}name="set[phone]"{else}disabled{/if}> 开启</label>
        <label class="radio-inline"><input class="toggle" data-class="block-phonebtn" type="radio" value="0" {if empty($sets['app']['phone'])}checked{/if} {ifp 'app.setting.edit'}name="set[phone]"{else}disabled{/if}>关闭</label>
        <div class="help-block">客服按钮显示位置：首页、商品详情页、会员中心页、订单详情页</div>
    </div>
</div>
<div class="form-group block-phonebtn"  {if empty($sets['app']['phonenumber'])}style="display: none;"{/if}>
<label class="col-lg control-label">电话号码</label>
<div class="col-sm-9">
    <input class="form-control" type="text" name="set[phonenumber]" value="{$sets['app']['phonenumber']}">
            <div class="help-block">请填写正确的座机号码或手机号码</div>
</div>
</div>
<div class="form-group block-phonebtns">
    <label class="col-lg control-label">按钮颜色</label>
    <div class="col-sm-9">
        <div class="btn btn-default btn-color {ifp 'app.setting.edit'}{else}disabled{/if}" data-toggle="dropdown" aria-expanded="false" id="phonecolor">
            <div class="inner" style="background: {$phonecolor};"></div>
            <input type="hidden" name="set[phonecolor]" value="{$phonecolor}">
        </div>
        {ifp 'app.setting.edit'}
        <div class="dropdown-menu color-list">
            {loop $phonecolors $color}
            <div class="color-block phone" style="background: {$color};" data-color="{$color}"></div>
            {/loop}
        </div>
        {/if}
    </div>
</div>


<div class="form-group-title">模板消息</div>
<div class="alert alert-danger">模板消息下发条件说明：当用户在小程序内完成1次微信支付时，可向用户在7天内推送3条模板消息，<b>余额支付则将不能触发</b>
    <br>微信官方调整，小程序模版消息将于2020年1月10日下线，请尽快更换使用小程序订阅消息。</div>

<div class="form-group">
    <label class="col-lg control-label">买家支付通知模板</label>
    <div class="col-sm-9">
        <select class="form-control select2" {ifp 'app.setting.edit'}name="set[tmessage_pay]" {else}disabled{/if}>
        <option>请选择消息模板</option>
        {loop $tmsg_list $trow}
        <option value="{$trow['id']}" {if $sets['app']['tmessage_pay']==$trow['id']}selected{/if}>{$trow['name']}</option>
        {/loop}
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-lg control-label">卖家发货通知模板</label>
    <div class="col-sm-9">
        <select class="form-control select2" {ifp 'app.setting.edit'}name="set[tmessage_send]" {else}disabled{/if}>
        <option>请选择消息模板</option>
        {loop $tmsg_list $trow}
        <option value="{$trow['id']}" {if $sets['app']['tmessage_send']==$trow['id']}selected{/if}>{$trow['name']}</option>
        {/loop}
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-lg control-label">自动发货通知模板</label>
    <div class="col-sm-9">
        <select class="form-control select2" {ifp 'app.setting.edit'}name="set[tmessage_virtualsend]" {else}disabled{/if}>
        <option>请选择消息模板</option>
        {loop $tmsg_list $trow}
        <option value="{$trow['id']}" {if $sets['app']['tmessage_virtualsend']==$trow['id']}selected{/if}>{$trow['name']}</option>
        {/loop}
        </select>
    </div>
</div>

<div class="form-group">
    <lab的el class="col-lg control-label">买家收货通知模板</lab的el>
    <div class="col-sm-9">
        <select class="form-control select2" {ifp 'app.setting.edit'}name="set[tmessage_finish]" {else}disabled{/if}>
        <option>请选择消息模板</option>
        {loop $tmsg_list $trow}
        <option value="{$trow['id']}" {if $sets['app']['tmessage_finish']==$trow['id']}selected{/if}>{$trow['name']}</option>
        {/loop}
        </select>
    </div>
</div>


<div class="form-group-title">小程序订阅消息</div>
<div class="alert alert-danger">本次订阅消息只能覆盖商家“自营-服饰/鞋/箱包”类目，需要商家前往微信公众号后台-设置-基本设置-服务类目中添加该类目，<b>余额支付则将不能触发</b></div>

<div class="form-group">
    <label class="col-lg control-label">买家支付通知</label>
    <div class="col-sm-9">
        <label class="radio-inline">
            <input class="subscribe-pay subscribe" data-type ='pay' type="radio" value="1" name="set[subscribepay]" {if !empty($sets['app']['subscribepay'])}checked{/if}> 启用</label>
        <label class="radio-inline">
            <input class="subscribe-pay subscribe" data-type ='pay'  type="radio" value="0" name="set[subscribepay]" {if empty($sets['app']['subscribepay'])}checked{/if}> 不启用</label>
        <label class="radio-inline">
            <input class="btn subscribe-pay btn-danger delete" data-type ='pay'  type="button" value="删除"   > </label>

    </div>
</div>

<div class="form-group">
    <label class="col-lg control-label">卖家发货通知</label>
    <div class="col-sm-9">
        <label class="radio-inline">
            <input class="subscribe-send subscribe" data-type ='send'   type="radio" value="1" name="set[subscribesend]" {if !empty($sets['app']['subscribesend'])}checked{/if}> 启用</label>
        <label class="radio-inline">
            <input class="subscribe-send subscribe" data-type ='send'   type="radio" value="0" name="set[subscribesend]" {if empty($sets['app']['subscribesend'])}checked{/if}> 不启用</label>
        <label class="radio-inline">
            <input class="btn subscribe-pay btn-danger delete" data-type ='send'  type="button" value="删除" > </label>

    </div>
</div>

<div class="form-group">
    <label class="col-lg control-label">自动发货通知</label>
    <div class="col-sm-9">
        <label class="radio-inline">
            <input class="subscribe-autosend subscribe" data-type ='autosend'   type="radio" value="1" name="set[subscribeautosend]" {if !empty($sets['app']['subscribeautosend'])}checked{/if}> 启用</label>
        <label class="radio-inline">
            <input class="subscribe-autosend subscribe" data-type ='autosend' type="radio" value="0" name="set[subscribeautosend]" {if empty($sets['app']['subscribeautosend'])}checked{/if}> 不启用</label>
        <label class="radio-inline">

            <input class="btn subscribe-pay btn-danger delete" data-type ='autosend'  type="button" value="删除"  > </label>

    </div>
</div>

<div class="form-group">
    <label class="col-lg control-label">买家收货通知</label>
    <div class="col-sm-9">
        <label class="radio-inline">
            <input class="subscribe-receive subscribe" data-type ='receive' type="radio" value="1" name="set[subscribereceive]" {if !empty($sets['app']['subscribereceive'])}checked{/if}> 启用</label>
        <label class="radio-inline">
            <input class="subscribe-receive subscribe" data-type ='receive'  type="radio" value="0" name="set[subscribereceive]" {if empty($sets['app']['subscribereceive'])}checked{/if}> 不启用</label>
        <label class="radio-inline">

            <input class="btn subscribe-pay btn-danger delete" data-type ='receive'  type="button" value="删除" > </label>

    </div>
</div>




{ifp 'app.setting.pay'}
<div class="form-group-title">微信支付</div>
<div class="alert alert-primary">在开启微信支付前，请到 <a href="https://mp.weixin.qq.com" target="_blank">微信公众平台</a> 去申请小程序微信支付。</div>

<div class="form-group">
    <label class="col-lg control-label">微信支付</label>
    <div class="col-sm-9">
        <label class="radio-inline">
            <input class="toggle" data-show="1" data-class="wxpay-group" type="radio" value="1" name="pay[wxapp]" {if !empty($sets['pay']['wxapp'])}checked{/if}> 开启</label>
        <label class="radio-inline">
            <input class="toggle" data-show="0" data-class="wxpay-group" type="radio" value="0" name="pay[wxapp]" {if empty($sets['pay']['wxapp'])}checked{/if}> 关闭</label>
    </div>
</div>

<div class="wxpay-group" {if empty($sets['pay']['wxapp'])}style="display: none;"{/if}>
<div class="form-group">
    <label class="col-lg control-label must">商户号(Mch_ID)</label>
    <div class="col-sm-9">
        <input class="form-control valid" value="{$sec['wxapp']['mchid']}" {ifp 'app.setting.pay'} name="pay[wxapp_mchid]"{else}disabled{/if} />
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label must">微信支付密钥(APIKEY)</label>
    <div class="col-sm-9">
        <input class="form-control valid" value="{$sec['wxapp']['apikey']}" {ifp 'app.setting.pay'} name="pay[wxapp_apikey]"{else}disabled{/if} />
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label">CERT证书文件</label>
    <div class="col-sm-9 col-xs-12">
        <input type="hidden" name="pay[wxapp_cert]" value="{$sets['pay']['wxapp_cert']}"/>
        {ifp 'app.pay.edit'}
        <input type="file" name="wxapp_cert_file" class="form-control" />
        <span class="help-block">
                                        {if !empty($sec['wxapp_cert'])}
                                            <span class='label label-success'>已上传</span>
                                        {else}
                                            <span class='label label-danger'>未上传</span>
                                        {/if}
                                        下载证书 cert.zip 中的 apiclient_cert.pem 文件
                                    </span>
        {else}
        {if !empty($sec['wxapp_cert'])}
        <span class='label label-success'>已上传</span>
        {else}
        <span class='label label-danger'>未上传</span>
        {/if}
        {/if}
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label">KEY密钥文件</label>
    <div class="col-sm-9 col-xs-12">
        <input type="hidden" name="pay[wxapp_key]" value="{$sets['pay']['wxapp_key']}"/>
        {ifp 'app.pay.edit'}
        <input type="file" name="wxapp_key_file" class="form-control" />
        <span class="help-block">
                                        {if !empty($sec['wxapp_key'])}
                                            <span class='label label-success'>已上传</span>
                                        {else}
                                            <span class='label label-danger'>未上传</span>
                                        {/if}
                                        下载证书 cert.zip 中的 apiclient_key.pem 文件
                                    </span>
        {else}
        {if !empty($sec['wxapp_key'])}
        <span class='label label-success'>已上传</span>
        {else}
        <span class='label label-danger'>未上传</span>
        {/if}
        {/if}
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label">ROOT文件</label>
    <div class="col-sm-9 col-xs-12">
        <input type="hidden" name="pay[wxapp_root]" value="{$sets['pay']['wxapp_root']}"/>
        {ifp 'app.pay.edit'}
        <input type="file" name="wxapp_root_file" class="form-control" />
        <span class="help-block">
                                        {if !empty($sec['wxapp_root'])}
                                            <span class='label label-success'>已上传</span>
                                        {else}
                                            <span class='label label-danger'>未上传</span>
                                        {/if}
                                        下载证书 cert.zip 中的 rootca.pem 文件,新下载证书无需上传此文件！
                                    </span>
        {else}
        {if !empty($sec['root'])}
        <span class='label label-success'>已上传</span>
        {else}
        <span class='label label-danger'>未上传</span>
        {/if}
        {/if}
    </div>
</div>
</div>
{/if}

{ifp 'app.setting.edit'}
<div class="form-group" style="margin-top: 20px;"><label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
        <input type="submit" value="提交" class="btn btn-primary">
    </div>
</div>
{/if}

</div>
</form>

<script type="text/javascript">
    $(function () {
        $(".toggle").unbind('click').click(function () {
            var show = $(this).data('show');
            var classs = $(this).data('class');
            var eml = $("."+classs);
            if(show){
                eml.show();
            }else {
                eml.hide();
            }
        });
//        $('.color-list .customer').click(function () {
//            var color = $(this).data('color');
//            $('#customercolor .inner').css('background', color);
//            $('#customercolor input').val(color);
//            $('#phonecolor .inner').css('background', color);
//            $('#phonecolor input').val(color);
//        });
        $('.color-list .phone').click(function () {
            var color = $(this).data('color');
            $('#customercolor .inner').css('background', color);
            $('#customercolors').val(color);
            $('#phonecolor .inner').css('background', color);
            $('#phonecolor input').val(color);
        });

        $('.color-list .phone').mousemove(function(){
            $(this).css('border','1px solid #000')
        })

        $('.color-list .phone').mouseout(function(){
            $(this).css('border','1px solid #fff')
        })

        $("input[name='set[phonenumber]']").blur(function(){
            var phone = $(this).val();
            var status = checkTel(phone);
            if(status == false){
                tip.msgbox.err('请填写正确手机号码或座机号码');
                return;
            }
        });

        $(document).on('click','.delete',function () {
            deleteTemplate($(this).data('type'))
        })
        $("form").submit(function () {
            var openbind = $("input[name='data[openbind]']:checked").val();
            if(openbind==1){
                var sms_bind = $("select[name='data[sms_bind]'] option:selected").val();
                if(!sms_bind){
                    tip.msgbox.err('开启用户绑定请先选择绑定短信模板');
                    $('form').attr('stop',1);
                    return;
                }
            }

            $('form').removeAttr('stop');
            return true;
        });
    });

    function checkTel(tel)
    {
        tel = tel.split('-').join('')
        // 港澳大陆通用正则表达式
        var mobile = /^[1][3-8]\d{9}$|^([6|9])\d{7}$|^[0][9]\d{8}$|^[6]([8|6])\d{5}$/;
        var telphone = /^\d{7,8}$|^\d{10,12}$/;
        return mobile.test(tel) || telphone.test(tel);
    }
    $('.subscribe').change(function () {
        var item = $(this);
        changeStatus(item);
    })

    function changeStatus(item) {
        var check = item.val();
        if (check == 1) {
            setTemplate(item.data('type'));
        }
        return;
        FoxUI.loader.hide('mini')

    }



    // 开启模版
    function setTemplate(type) {
        tip.confirm('您确认开启吗?', function (res) {
            $.ajax({
                url: "{php echo webUrl('app/setting/setTemplate')}",
                dataType: 'json',
                data: {
                    type: type
                },
                type: 'post',
                async: true,
                success: function (res) {
                    tip.msgbox.suc("开启成功！");
                }
            });
        }, function (error) {

        });


    }

    function deleteTemplate(type) {
        tip.confirm('您确定要删除模板吗?', function (res) {
            $.ajax({
                url: "{php echo webUrl('app/setting/deleteTemplate')}",
                dataType: 'json',
                data: {
                    type: type
                },
                type: 'post',
                async: true,
                success: function (res) {
                    if (res.status === 1)
                    {
                        tip.msgbox.suc("删除成功！");
                    }else {
                        tip.msgbox.err(res.result.message);
                    }
                }
            });
        }, function (error) {
            tip.msgbox.err("请求中出现了一个错误");

        });


    }

</script>

{template '_footer'}