<div class="col-sm-8" style='float:left;height:auto;overflow: hidden;margin-bottom:20px;font-size:15px;'>
    <b>提现方式: </b>
    {if empty($item['applytype'])}
    <span class='label label-primary'>{$apply_type[$item['applytype']]}</span>
    {else if $item['applytype'] == 1}
    <span class='label label-success'>{$apply_type[$item['applytype']]}</span>
    {else if $item['applytype'] == 2}
    <span class='label label-warning'>{$apply_type[$item['applytype']]}</span>
    <b>姓名: </b><span style='color:red;font-size: 13px;margin-right: 5px;' id="realname">{$item['applyrealname']}</span>
    <b>支付宝帐号: </b><span style='color:red;font-size: 13px;margin-right: 5px;' id="alipay">{$item['alipay']}</span>
    {else if $item['applytype'] == 3}
    <span class='label label-danger'>{$apply_type[$item['applytype']]}</span>
    <b>姓名: </b><span style='color:red;font-size: 13px;margin-right: 5px;' id="realname">{$item['applyrealname']}</span>
    <b>银行: </b><span style='color:red;font-size: 13px;margin-right: 5px;' id="bankname">{$item['bankname']}</span>
    <b>开户行: </b><span style="color: red;font-size: 13px;margin-right: 5px;" id="openbank">{$item['bankopen']}</span>
    <b>卡号: </b><span style='color:red;font-size: 13px;' id="bankcard">{$item['bankcard']}</span>
    {/if}
    <input type="hidden" name="applytype" id="applytype" value="{$item['applytype']}" />
</div>