{template '_header'}
<div class="page-header">
    当前位置：<span class="text-primary">提现申请信息</span>
        <small>申请单号: {$item['applyno']}</small>
</div>
<div class="page-content">
<div class="step-region" >
    <ul class="ui-step ui-step-4" >
        <li {if $item['status']>=1}class="ui-step-done"{/if}>

        <div class="ui-step-number" >1</div>
        <div class="ui-step-title" >申请中</div>
        <div class="ui-step-meta" >{if 1<=$item['status']}{php echo date('Y-m-d',$item['applytime'])}<br/>{php echo date('H:i:s',$item['applytime'])}{/if}</div>
        </li>
        <li  {if $item['status']>=2}class="ui-step-done"{/if}>

        <div class="ui-step-number">2</div>
        <div class="ui-step-title">商家审核</div>
        <div class="ui-step-meta">{if 2<=$item['status']}{php echo date('Y-m-d',$item['checktime'])}<br/>{php echo date('H:i:s',$item['checktime'])}{/if}</div>
        </li>
        <li {if $item['status']>=3}class="ui-step-done"{/if}>

        <div class="ui-step-number" >3</div>
        <div class="ui-step-title">商家打款</div>
        <div class="ui-step-meta" >{if 3<=$item['status']}{php echo date('Y-m-d',$item['paytime'])}<br/>{php echo date('H:i:s',$item['paytime'])}{/if}</div>
        </li>
        <li {if $item['status']==-1}class="ui-step-done"{/if}>

        <div class="ui-step-number" >!</div>
        <div class="ui-step-title">无效</div>
        <div class="ui-step-meta" >{if -1==$item['status']}{php echo date('Y-m-d',$item['invalidtime'])}<br/>{php echo date('H:i:s',$item['invalidtime'])}{/if}</div>
        </li>
    </ul>
</div>


{template 'apply/creditbox'}

{template 'apply/applytype'}

<form action="./merchant.php" method="get" class="form-horizontal" role="form" id="form1">
    <input type="hidden" name="c" value="site"/>
    <input type="hidden" name="a" value="entry"/>
    <input type="hidden" name="m" value="ewei_shopv2"/>
    <input type="hidden" name="do" value="web"/>
    <input type="hidden" name="id" value="{$id}"/>
    <input type="hidden" name="r" value="apply.detail"/>

    <!--<div class="page-toolbar row m-b-sm m-t-sm">-->
        <div class="col-sm-4 col-md-4 pull-right">
            <div class="input-group">
                <input type="text" class="form-control input-sm" name="keyword" value="{$_GPC['keyword']}"
                       placeholder="订单编号"/>
             <span class="input-group-btn">

            <button class="btn btn-primary" type="submit"> 搜索</button>
            {ifp 'merch.apply.detail.export'}
            <button type="submit" name="export" value="1" class="btn btn-success">导出</button>
            {/if}
            </span>
            </div>

        </div>
    <!--</div>-->


</form>

{template 'apply/credittable'}
</div>
{template '_footer'}