<div class="form-group">
    <label class="col-lg control-label">是否开启多商户</label>
    <div class="col-sm-8">
        {ifp 'merch.set.edit'}
        <label class="radio-inline"><input type="radio"  name="data[is_openmerch]" value="1" {if $data['is_openmerch'] ==1} checked="checked"{/if} /> 开启</label>
        <label class="radio-inline"><input type="radio"  name="data[is_openmerch]" value="0" {if $data['is_openmerch'] ==0} checked="checked"{/if} /> 不开启</label>
        <div class='help-block'></div>
        {else}
        {if $data['apply_openweb'] ==0}不允许{else}允许{/if}
        {/if}
    </div>
</div>

<div class="form-group">
    <label class="col-lg control-label must">商户临时无权限账号</label>
    <div class="col-sm-8">

        <input type="text" class="form-control" name="data[temporaryusername]" value="{$data['temporaryusername']}" data-rule-required="true"/>

    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label must">商户临时无权限密码</label>
    <div class="col-sm-8">

        <input type="text" class="form-control" name="data[temporarypassword]" value="{$data['temporarypassword']}" data-rule-required="true"/>

    </div>
</div>

<div class="form-group">
    <label class="col-lg control-label">商户的可提现金额是否扣除分销佣金</label>
    <div class="col-sm-8">
        {ifp 'merch.set.edit'}
        <label class="radio-inline"><input type="radio"  name="data[deduct_commission]" value="0" {if $data['deduct_commission'] ==0} checked="checked"{/if} /> 不扣除</label>
        <label class="radio-inline"><input type="radio"  name="data[deduct_commission]" value="1" {if $data['deduct_commission'] ==1} checked="checked"{/if} /> 扣除</label>
        <div class='help-block'>例如: 订单金额100元,分销佣金10元<br>不扣除: 商户的可提现金额为100元<br>扣除: 商户的可提现金额为90元</div>
        {else}
        {if $data['deduct_commission'] ==0}不允许{else}允许{/if}
        {/if}
    </div>
</div>

<div class="form-group">
    <label class="col-lg control-label">商户提现方式</label>
    <div class="col-sm-9 col-xs-12" >
        {ifp 'sysset.trade.edit'}
        <label for="applycashweixin" class="checkbox-inline">
            <input type="checkbox" name="data[applycashweixin]" value="1" id="applycashweixin" {if !empty($data['applycashweixin'])}checked="true"{/if} /> 提现到微信钱包
        </label>

        <label for="applycashalipay" class="checkbox-inline">
            <input type="checkbox" name="data[applycashalipay]" value="1" id="applycashalipay" {if !empty($data['applycashalipay'])}checked="true"{/if} /> 手动提现到支付宝
        </label>

        <label for="applycashcard" class="checkbox-inline">
            <input type="checkbox" name="data[applycashcard]" value="1" id="applycashcard" {if !empty($data['applycashcard'])}checked="true"{/if} /> 手动提现到银行卡
        </label>

        <div class='help-block'>支持的银行请到<a href='{php echo webUrl('commission/bank')}' target='_blank'>【银行设置】</a>进行设置,使用手动提现到银行卡必须设置支持的银行</div>

        <div class='help-block'>提示: 提现方式支持多选</div>
        {else} <div class='form-control-static'>
        {if $data['applycashweixin']==1}提现到微信钱包; {/if}
        {if $data['applycashalipay']==1}手动提现到支付宝; {/if}
        {if $data['applycashcard']==1}手动提现到银行卡; {/if}
    </div>
        {/if}
    </div>
</div>