<div class="form-group">
	<label class="col-lg control-label">商户地址</label>
	<div class="col-sm-9 col-xs-12">
		<p class='form-control-static'>
			<a href='javascript:;' class="js-clip" title='点击复制链接' data-url="{$_W['siteroot']}web/merchant.php?i={$_W['uniacid']}" >
				{if isset($data['host']) && strlen($data['host']) > 0 }
				{$data['host']}/web/merchant.php?i={$_W['uniacid']}

				{else}
				{$_W['siteroot']}web/merchant.php?i={$_W['uniacid']}
				{/if}
			</a>
			<span style="cursor: pointer;" data-toggle="popover" data-trigger="hover" data-html="true"
				  data-content="<img src='{$qrcode}' width='130' alt='链接二维码'>" data-placement="auto right">
				<i class="glyphicon glyphicon-qrcode"></i>
			</span>
		</p>
	</div>
</div>
<div class="form-group">
	<label class="col-lg control-label must">多商户绑定域名(用于用户收藏地址使用)</label>
	<div class="col-sm-8">

		<input type="text" class="form-control" name="data[host]" value="{$data['host']}" />

	</div>
</div>
<div class="form-group">
	<label class="col-lg control-label">登录页面LOGO</label>
	<div class="col-sm-9 col-xs-12">
		{ifp 'merch.set.edit'}
		{php echo tpl_form_field_image2('data[reglogo]',$data['reglogo'],'../addons/ewei_shopv2/plugin/merch/template/mobile/default/static/images/regbg.png')}
		<span class="help-block">登录页面logo 建议尺寸200 * 68</span>
		{else}
		{if empty($data['regbg'])}
		<img src="../addons/ewei_shopv2/plugin/merch/template/mobile/default/static/images/regbg.png" onerror="this.src='../addons/ewei_shopv2/plugin/merch/template/mobile/default/static/images/regbg.png'; this.title='图片未找到.'" class="img-responsive img-thumbnail" width="150">
		{else}
		<img src="{php echo tomedia($data['reglogo'])}" onerror="this.src='../addons/ewei_shopv2/plugin/merch/template/mobile/default/static/images/regbg.png'; this.title='图片未找到.'" class="img-responsive img-thumbnail" height="90">
		{/if}
		{/if}
	</div>
</div>
<div class="form-group">
	<label class="col-lg control-label">登录页面宣传图</label>
	<div class="col-sm-9 col-xs-12">
		{ifp 'merch.set.edit'}
		{php echo tpl_form_field_image2('data[regpic]',$data['regpic'],'../addons/ewei_shopv2/plugin/merch/template/mobile/default/static/images/regbg.png')}
		<span class="help-block">入驻宣传封面 建议尺寸670 * 390</span>
		{else}
		{if empty($data['regbg'])}
		<img src="../addons/ewei_shopv2/plugin/merch/template/mobile/default/static/images/regbg.png" onerror="this.src='../addons/ewei_shopv2/plugin/merch/template/mobile/default/static/images/regbg.png'; this.title='图片未找到.'" class="img-responsive img-thumbnail" width="150">
		{else}
		<img src="{php echo tomedia($data['regpic'])}" onerror="this.src='../addons/ewei_shopv2/plugin/merch/template/mobile/default/static/images/regbg.png'; this.title='图片未找到.'" class="img-responsive img-thumbnail" width="150">
		{/if}
		{/if}
	</div>
</div>