{template '_header'}

<link rel="stylesheet" type="text/css" href="../addons/ewei_shopv2/template/mobile/default/static/css/coupon-new.css?v=2017030310125">
<div class="fui-page">

	<div class="fui-header">
		<div class="fui-header-left">
			<a class="back" href="{php echo mobileUrl('sale/coupon')}"></a>
		</div>
		<div class="title">详情</div>
		<div class="fui-header-left"></div>
	</div>

	<div class="fui-content navbar coupon-page">

		<div class="coupon-detail {$coupon['color']}">
			<div class="detail-dots"></div>
			<div class="detail-head">
				<div class="inner">
					<div class="title">
						<div class="text">{$coupon['couponname']}</div>
					</div>


					{if $coupon['backtype']==2}
					<div class="childs">
						<div class="child">
							<div class="subtitle"> {$coupon['title2']}</div>
							<div class="bigtitle">立返</div>
						</div>
						<div class="child">
							{if !empty($coupon['backmoney']) && $coupon['backmoney'] > 0}
								<div class="subtitle"><span class="bold">{$coupon['backmoney']}</span> <span class="threetitle">元余额</span></div>
							{/if}
							{if !empty($coupon['backcredit']) && $coupon['backcredit'] > 0}
								<div class="subtitle"><span class="bold">{$coupon['backcredit']}</span> <span class="threetitle">积分</span></div>
							{/if}
							{if !empty($coupon['backredpack']) && $coupon['backredpack'] > 0}
								<div class="subtitle"><span class="bold">{$coupon['backredpack']}</span> <span class="threetitle">元红包</span></div>
							{/if}
						</div>
					</div>

					{else}
						<div class="bigtitle"> {$coupon['title3']}</div>
						<div class="subtitle"> {$coupon['title2']}</div>
					{/if}

					<div class="usetime">
						<div class="text">有效期:{if $coupon['timestr']=='0'}
							永久有效
							{else}
							{if $coupon['timestr']=='1'}
							即{$coupon['gettypestr']}日内 {$coupon['timedays']} 天有效
							{else}
							  {$coupon['timestr']}
							{/if}
							{/if}</div>
					</div>

				</div>
			</div>

			<div class="detail-body">
				{if $coupon['money'] > 0||$coupon['credit']>0}
				<div class="block">
					<div class="title">所需金额与积分</div>
					{if $coupon['money'] > 0}
					<div class="text dot">所需金额:{$coupon['money']}</div>
					{/if}
					{if $coupon['credit'] > 0}
					<div class="text dot">所需积分:{$coupon['credit']}</div>
					{/if}
				</div>
				{/if}

				<div class="block">

					{if !empty($coupon['merchname'])}
					<div class="title">使用商铺</div>
					<div class="text dot">限购[{$coupon['merchname']}]店铺商品</div>
					{/if}
					<div class="title">使用说明</div>
					<div class="text">
						{if empty($coupon['descnoset'])}
							{if empty($coupon['coupontype'])}
								{php echo htmlspecialchars_decode($set['consumedesc'])}
							{else}
								{php echo htmlspecialchars_decode($set['rechargedesc'])}
							{/if}
						{else}
							{$coupon['desc']}
						{/if}
					</div>
				</div>

				<div class="block">
					<div class="title">领取限制</div>
					{if $coupon['islimitlevel']=='1'}
						<div class="text dot">用户必须达到以下条件之一:</div>
						{if !empty($coupon['limitmemberlevels'])|| $coupon['limitmemberlevels']==='0'}
						<div class="text dot">	会员:  {$meblvname}
							{loop $level1 $l1}
								{$l1['levelname']}
							{/loop}
						</div>
						{/if}
						{if (!empty($coupon['limitagentlevels']) || $coupon['limitagentlevels']==='0')&&$hascommission}
							<div class="text dot">		{$leveltitle2}:
								{if in_array("0",$limitagentlevels)}
								{$commissionname}
								{/if}
								{loop $level2 $l2}
								{$l2['levelname']}
								{/loop}
							</div>
						{/if}
						{if (!empty($coupon['limitpartnerlevels']) || $coupon['limitpartnerlevels']==='0')&&$hasglobonus}
							<div class="text dot">	{$leveltitle3}:  {$globonuname}
								{loop $level3 $l3}
								{$l3['levelname']}
								{/loop}
							</div>
						{/if}
						{if (!empty($coupon['limitaagentlevels']) || $coupon['limitaagentlevels']==='0')&&$hasabonus}
							<div class="text dot">	{$leveltitle4}:  {$abonuname}
								{loop $level4 $l4}
								{$l4['levelname']}
								{/loop}
							</div>
						{/if}
					{/if}
					{if $coupon['islimitlevel']=='0'}
						<div class="text dot">无 </div>
					{/if}
				</div>
				<!-- 3.25优化 添加领取数量限制项 -->
				<div class="block">
					<div class="title">领取数量限制</div>
					<div class="text dot">
						{if $coupon['getmax']}
						每人限领{$coupon['getmax']}张
						{else}
						不限制
						{/if}
					</div>
				</div>
				<!-- 3.25end -->
				<div class="block">
					<div class="title">有效期限</div>
					<div class="text dot">


						{if $coupon['timestr']=='0'}
						永久有效
						{else}
						{if $coupon['timestr']=='1'}
						即{$coupon['gettypestr']}日内 {$coupon['timedays']} 天有效
						{else}
						有效期 {$coupon['timestr']}
						{/if}
						{/if}
						{if !empty($coupon['merchname'])}
						限购[{$coupon['merchname']}]店铺商品
						{/if}</div>
				</div>
				<div class="block">
					<div class="title">使用限制</div>
					{if $coupon['coupontype']=='2'}
						<div class="text dot">本优惠券只能在收银台中使用</div>
					{/if}

					{if $coupon['limitdiscounttype']=='1'}
						<div class="text dot">不允许与促销优惠同时使用</div>
					{elseif $coupon['limitdiscounttype']=='2'}
						<div class="text dot">不允许与会员折扣同时使用</div>
					{elseif $coupon['limitdiscounttype']=='3'}
						<div class="text dot">不允许与促销优惠和会员折扣同时使用</div>
					{/if}
					{if $coupon['limitgoodtype']=='1'}
					<div class="text dot">允许以下商品使用:</div>
						{loop $goods $g}
							<div class="text">{$g['title']}</div>
						{/loop}
					{/if}
					{if $coupon['limitgoodcatetype']=='1'}
						<div class="text dot">允许以下商品分类使用:</div>
						<div class="text">
							{loop $category $c}
							{$c['name']}&nbsp;
							{/loop}
						</div>
					{/if}
					{if $coupon['limitgoodtype']=='0'&& $coupon['limitgoodcatetype']=='0'&&$coupon['limitdiscounttype']=='0'&&$coupon['coupontype']!='2'}
						<div class="text dot">无</div>
					{/if}
				</div>
			</div>
		</div>
	</div>

	<div class="fui-navbar">
		{if $coupon['canget']===false}
		<div class="nav-item btn btn-gray" >已达到{$coupon['gettypestr']}上限</div>
		{elseif $pass}
		<div class="nav-item btn btn-{$coupon['color']}"  id="btncoupon">立即{$coupon['gettypestr']}</div>
		{else}
		<div class="nav-item btn btn-gray">未达到{$coupon['gettypestr']}权限</div>
		{/if}
	</div>
</div>



<script language='javascript'>
	require(['biz/sale/coupon/detail'], function (modal) {
		modal.init({coupon: {php echo json_encode($coupon)}});
	});
</script>
{template '_footer'}