 

    <form class="form-horizontal form-validate" action="{php echo webUrl('creditshop/log/doexchange')}" method="post" enctype="multipart/form-data">
        <input type='hidden' name='id' value='{$id}' />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3>确认领奖</h3>
                </div>
                <div class="modal-body">
                    {if $goods['isverify']}
                        <div class="form-group">
                            <label class="col-xs-10 col-sm-3 col-md-3 control-label">联系人信息</label>
                            <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
                                <div class='form-control-static'>
                                    {$log['realname']} / {$log['mobile']}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-10 col-sm-3 col-md-3 control-label">兑换门店</label>
                            <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
                                <div class='form-control-static'>
                                    {$store['storename']} <br/> {$store['address']}
                                </div>
                            </div>
                        </div>
                        {if $log['verifynum'] > 0}
                            <div class="form-group">
                                <label class="col-xs-10 col-sm-3 col-md-3 control-label">兑换次数</label>
                                <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
                                    <div class='form-control-static'>
                                        <input type="text" name="verifynum" class="form-control valid" value="{$log['verifynum']}">
                                    </div>
                                </div>
                            </div>
                        {/if}
                        
                        
                        <div class="form-group">
                            <label class="col-xs-10 col-sm-3 col-md-3 control-label"></label>
                            <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
                                <div class='form-control-static'>
                                    确认已经领取?
                                </div>
                            </div>
                        </div>	
                     
                    {else}
                        {if $goods['goodstype']==3}
                            <div class="form-group">
                                <label class="col-xs-10 col-sm-3 col-md-3 control-label">红包金额</label>
                                <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
                                    <div class='form-control-static'>
                                        <input type="text" name="" class="form-control valid" disabled value="{$goods['grant2']}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-10 col-sm-3 col-md-3 control-label"></label>
                                <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
                                    <div class='form-control-static'>
                                        确认发放红包吗?
                                    </div>
                                </div>
                            </div>
                        {else}
                        <div id='expressform'>
                            <div class="form-group">
                                <label class="col-xs-10 col-sm-3 col-md-3 control-label">收件人信息</label>
                                <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
                                    <div class='form-control-static'>
                                        收  件 人:  {$address['realname']} / {$address['mobile']}<br/>
                                        收货地址: {$address['province']} {$address['city']} {$address['area']} {$address['address']}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-10 col-sm-3 col-md-3 control-label">快递公司</label>
                                <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
                                    <select class="form-control" name="express" id="express">
                                        <option value="" data-name="">其他快递</option>
                                        <option value="shunfeng" data-name="顺丰">顺丰</option>
                                        <option value="shentong" data-name="申通">申通</option>
                                        <option value="yunda" data-name="韵达快运">韵达快运</option>
                                        <option value="tiantian" data-name="天天快递">天天快递</option>
                                        <option value="yuantong" data-name="圆通速递">圆通速递</option>
                                        <option value="zhongtong" data-name="中通速递">中通速递</option>
                                        <option value="ems" data-name="ems快递">ems快递</option>
                                        <option value="huitongkuaidi" data-name="汇通快运">汇通快运</option>
                                        <option value="quanfengkuaidi" data-name="全峰快递">全峰快递</option>
                                        <option value="zhaijisong" data-name="宅急送">宅急送</option>
                                        <option value="aae" data-name="aae全球专递">aae全球专递</option>
                                        <option value="anjie" data-name="安捷快递">安捷快递</option>
                                        <option value="anxindakuaixi" data-name="安信达快递">安信达快递</option>
                                        <option value="biaojikuaidi" data-name="彪记快递">彪记快递</option>
                                        <option value="bht" data-name="bht">bht</option>
                                        <option value="baifudongfang" data-name="百福东方国际物流">百福东方国际物流</option>
                                        <option value="coe" data-name="中国东方（COE）">中国东方（COE）</option>
                                        <option value="changyuwuliu" data-name="长宇物流">长宇物流</option>
                                        <option value="datianwuliu" data-name="大田物流">大田物流</option>
                                        <option value="debangwuliu" data-name="德邦物流">德邦物流</option>
                                        <option value="dhl" data-name="dhl">dhl</option>
                                        <option value="dpex" data-name="dpex">dpex</option>
                                        <option value="dsukuaidi" data-name="d速快递">d速快递</option>
                                        <option value="disifang" data-name="递四方">递四方</option>
                                        <option value="fedex" data-name="fedex（国外）">fedex（国外）</option>
                                        <option value="feikangda" data-name="飞康达物流">飞康达物流</option>
                                        <option value="fenghuangkuaidi" data-name="凤凰快递">凤凰快递</option>
                                        <option value="feikuaida" data-name="飞快达">飞快达</option>
                                        <option value="guotongkuaidi" data-name="国通快递">国通快递</option>
                                        <option value="ganzhongnengda" data-name="港中能达物流">港中能达物流</option>
                                        <option value="guangdongyouzhengwuliu" data-name="广东邮政物流">广东邮政物流</option>
                                        <option value="gongsuda" data-name="共速达">共速达</option>
                                        <option value="hengluwuliu" data-name="恒路物流">恒路物流</option>
                                        <option value="huaxialongwuliu" data-name="华夏龙物流">华夏龙物流</option>
                                        <option value="haihongwangsong" data-name="海红">海红</option>
                                        <option value="haiwaihuanqiu" data-name="海外环球">海外环球</option>
                                        <option value="jiayiwuliu" data-name="佳怡物流">佳怡物流</option>
                                        <option value="jinguangsudikuaijian" data-name="京广速递">京广速递</option>
                                        <option value="jixianda" data-name="急先达">急先达</option>
                                        <option value="jjwl" data-name="佳吉物流">佳吉物流</option>
                                        <option value="jymwl" data-name="加运美物流">加运美物流</option>
                                        <option value="jindawuliu" data-name="金大物流">金大物流</option>
                                        <option value="jialidatong" data-name="嘉里大通">嘉里大通</option>
                                        <option value="jykd" data-name="晋越快递">晋越快递</option>
                                        <option value="kuaijiesudi" data-name="快捷速递">快捷速递</option>
                                        <option value="lianb" data-name="联邦快递（国内）">联邦快递（国内）</option>
                                        <option value="lianhaowuliu" data-name="联昊通物流">联昊通物流</option>
                                        <option value="longbanwuliu" data-name="龙邦物流">龙邦物流</option>
                                        <option value="lijisong" data-name="立即送">立即送</option>
                                        <option value="lejiedi" data-name="乐捷递">乐捷递</option>
                                        <option value="minghangkuaidi" data-name="民航快递">民航快递</option>
                                        <option value="meiguokuaidi" data-name="美国快递">美国快递</option>
                                        <option value="menduimen" data-name="门对门">门对门</option>
                                        <option value="ocs" data-name="OCS">OCS</option>
                                        <option value="peisihuoyunkuaidi" data-name="配思货运">配思货运</option>
                                        <option value="quanchenkuaidi" data-name="全晨快递">全晨快递</option>
                                        <option value="quanjitong" data-name="全际通物流">全际通物流</option>
                                        <option value="quanritongkuaidi" data-name="全日通快递">全日通快递</option>
                                        <option value="quanyikuaidi" data-name="全一快递">全一快递</option>
                                        <option value="rufengda" data-name="如风达">如风达</option>
                                        <option value="santaisudi" data-name="三态速递">三态速递</option>
                                        <option value="shenghuiwuliu" data-name="盛辉物流">盛辉物流</option>
                                        <option value="sue" data-name="速尔物流">速尔物流</option>
                                        <option value="shengfeng" data-name="盛丰物流">盛丰物流</option>
                                        <option value="saiaodi" data-name="赛澳递">赛澳递</option>
                                        <option value="tiandihuayu" data-name="天地华宇">天地华宇</option>
                                        <option value="tnt" data-name="tnt">tnt</option>
                                        <option value="ups" data-name="ups">ups</option>
                                        <option value="wanjiawuliu" data-name="万家物流">万家物流</option>
                                        <option value="wenjiesudi" data-name="文捷航空速递">文捷航空速递</option>
                                        <option value="wuyuan" data-name="伍圆">伍圆</option>
                                        <option value="wxwl" data-name="万象物流">万象物流</option>
                                        <option value="xinbangwuliu" data-name="新邦物流">新邦物流</option>
                                        <option value="xinfengwuliu" data-name="信丰物流">信丰物流</option>
                                        <option value="yafengsudi" data-name="亚风速递">亚风速递</option>
                                        <option value="yibangwuliu" data-name="一邦速递">一邦速递</option>
                                        <option value="youshuwuliu" data-name="优速物流">优速物流</option>
                                        <option value="youzhengguonei" data-name="邮政包裹挂号信">邮政包裹挂号信</option>
                                        <option value="youzhengguoji" data-name="邮政国际包裹挂号信">邮政国际包裹挂号信</option>
                                        <option value="yuanchengwuliu" data-name="远成物流">远成物流</option>
                                        <option value="yuanweifeng" data-name="源伟丰快递">源伟丰快递</option>
                                        <option value="yuanzhijiecheng" data-name="元智捷诚快递">元智捷诚快递</option>
                                        <option value="yuntongkuaidi" data-name="运通快递">运通快递</option>
                                        <option value="yuefengwuliu" data-name="越丰物流">越丰物流</option>
                                        <option value="yad" data-name="源安达">源安达</option>
                                        <option value="yinjiesudi" data-name="银捷速递">银捷速递</option>
                                        <option value="zhongtiekuaiyun" data-name="中铁快运">中铁快运</option>
                                        <option value="zhongyouwuliu" data-name="中邮物流">中邮物流</option>
                                        <option value="zhongxinda" data-name="忠信达">忠信达</option>
                                        <option value="zhimakaimen" data-name="芝麻开门">芝麻开门</option>
                                        <option value="annengwuliu" data-name="安能物流">安能物流</option>
                                        <option value="huitongkuaidi" data-name="汇通快运">汇通快运</option>
                                        <option value="huitongkuaidi" data-name="百世快递">百世快递</option>
                                        <option value="jd" data-name="京东快递">京东快递</option>
                                    </select>
                                    <input type='hidden' name='expresscom' id='expresscom' />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-10 col-sm-3 col-md-3 control-label">快递单号</label>
                                <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
                                    <input type="text" name="expresssn" class="form-control" />
                                </div>
                            </div>
                        </div>
                        {/if}

                 	{/if}
 
                    <div id="module-menus"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" name="close" value="yes">确认兑换</button>
                    <a href="#" class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</a>
                </div>
            </div>
        </div>
    </form>


<script language='javascript'>
    $(function () {

        $("#express").change(function () {

            var obj = $(this);
            var sel = obj.find("option:selected").attr("data-name");
            $("#expresscom").val(sel);
        });
    })
</script>
  