{template '_header'}
<style type='text/css'>
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
		padding: 10px 20px;
	}
	.table > tbody>.trbody{
		border:1px solid #efefef;
	}
	.table > tbody>.trbody > td{
		border-top:none !important;
	}
	.trhead td {  background:#efefef;text-align: center}
	.trbody td {  text-align: center; vertical-align:top;border-left:1px solid #f2f2f2;overflow: hidden; font-size:12px;}
	.trorder { background:#f8f8f8;border:1px solid #f2f2f2;text-align:left;}
	.ops { border-right:1px solid #f2f2f2; text-align: center;}
	/* 3.24优化样式 */
	.newName {
		width: 130px;
		overflow: hidden;
		text-overflow:ellipsis;
		word-break: normal;
		display: inline-block;
		line-height: 30px;
		height: 30px;
		vertical-align: bottom;
		white-space: nowrap;
	}
</style>

<div class="page-header">
	当前位置：<span class="text-primary">{if $type=='0'}兑换记录
		{else if $type=='1'}抽奖记录
		{else if $type=='2'}待发货
		{else if $type=='3'}待收货
		{else if $type=='4'}已完成
		{else if $type=='5'}待核销
		{else if $type=='6'}已核销
		{else if $type=='7'}全部核销{/if}
		</span>
</div>
<div class="page-content">
	<form action="" method="get" class="form-horizontal table-search">
		<input type="hidden" name="c" value="site" />
		<input type="hidden" name="a" value="entry" />
		<input type="hidden" name="m" value="ewei_shopv2" />
		<input type="hidden" name="do" value="web" />
		<input type="hidden" name="r" value="{$_GPC['r']}" />
		<input type="hidden" name="type" value="{$type}" />
		<div class="page-toolbar">
			<div class="input-group">
				<span class="input-group-select">
					<select name='searchtime'  class='form-control'   style="width:100px;padding:0 5px;"  id="searchtime">
						<option value=''>不按时间</option>
						<option value='create' {if $_GPC['searchtime']=='create'}selected{/if}>参与时间</option>
						{if $type == 5 || $type == 6 || $type == 7}
						<option value='verify' {if $_GPC['searchtime']=='verify'}selected{/if}>核销时间</option>
						{/if}
					</select>
				</span>
				<span class="input-group-select">
					{php echo tpl_form_field_daterange('time', array('starttime'=>date('Y-m-d H:i', $starttime),'endtime'=>date('Y-m-d H:i', $endtime)),true);}
				</span>
				<div class="input-group-select">
					<select name='status' class="form-control input-sm select-md" style="width:100px;">
						<option value='' {if $_GPC['status']==''}selected{/if}>状态</option>
						{if empty($type)}
						<option value='2' {if $_GPC['status']=='2'}selected{/if}>未兑换</option>
						<option value='3' {if $_GPC['status']=='3'}selected{/if} >已兑换</option>
						{else}
						<option value='1' {if $_GPC['status']=='1'}selected{/if}>未中奖</option>
						<option value='2' {if $_GPC['status']=='2'}selected{/if} >已中奖</option>
						<option value='3' {if $_GPC['status']=='3'}selected{/if} >已兑换</option>
						{/if}
					</select>
				</div>
				<div class="input-group-select">
					<select name='searchfield' class='form-control  input-sm select-md' style="width:120px;">
						<option value='member' {if $_GPC['searchfield']=='member'}selected{/if}>会员信息</option>
						<option value='address' {if $_GPC['searchfield']=='address'}selected{/if}>收件人信息</option>
						<option value='logno' {if $_GPC['searchfield']=='logno'}selected{/if}>活动编号</option>
						<option value='eno' {if $_GPC['searchfield']=='eno'}selected{/if}>兑换码</option>
						<option value='store' {if $_GPC['searchfield']=='store'}selected{/if}>兑换门店</option>
						<option value='express' {if $_GPC['searchfield']=='express'}selected{/if}>快递单号</option>
						<option value='goods' {if $_GPC['searchfield']=='goods'}selected{/if}>商品名称</option>
					</select>
				</div>
				<input type="text" class="form-control input-sm" name="keyword" value="{$_GPC['keyword']}" placeholder="请输入关键词" />
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit"> 搜索</button>
					{ifp 'creditshop.log.export'}
						<button type="submit" name="export" value="1" class="btn btn-success">导出</button>
					{/if}
				</span>
			</div>
		</div>
	</form>
	{if count($list)>0}
	<!--<table class="table table-responsive">-->
		<!--<thead>-->
			<!--<th>商品</th>-->
			<!--<th>类型</th>-->
			<!--<th>用户</th>-->
			<!--<th>消耗</th>-->
			<!--<th>状态</th>-->
			<!--<th>操作</th>-->
		<!--</thead>-->
	<!--</table>-->
	<table class="table table-responsive ">
		<thead>
			<tr style='background:#f8f8f8'>
				<th style="width: 250px;" >编号/商品</th>
				<th style="text-align: center">信息</th>
				<th style="text-align: center" >粉丝</th>
				<th style="text-align: center">会员</th>
				<th style="text-align: center">支付</th>
				<th style="text-align: center">消耗</th>
				{if $type == 5 || $type == 6 || $type == 7}
				<th style="text-align: center">核销时间</th>
				{/if}
				<th style="text-align: center">操作</th>
				<th style="text-align: center">状态</th>
			</tr>
		</thead>
		<tbody>
			{loop $list $row}
			<tr ><td colspan='8' style='height:20px;padding:0;border:none;'>&nbsp;</td></tr>
			<tr class='trorder' style='background:#f8f8f8'>
					<td {if $type == 5 || $type == 6 || $type == 7}colspan="9"{else}colspan="8"{/if}>
						{$row['logno']}
						{if $item['merchid'] == 0}
						{ifp 'creditshop.log.remarksaler'}
						<a class=''  data-toggle="ajaxModal" href="{php echo webUrl('creditshop/log/remarksaler', array('id' => $row['id']))}" style="float: right">
							{if !empty($row['remarksaler'])}
							<i class="icow icow-flag-o" style="color: #df5254;display: inline-block;vertical-align: middle" title="  查看备注"></i>
							备注
							&nbsp
							{else}
							<i class="icow icow-yibiaoji" style="color: #999;display: inline-block;vertical-align: middle" title="  添加备注" ></i>
							备注
							&nbsp
							{/if}
						</a>
						{/if}
						{/if}
					</td>
			</tr>
			<!-- 3.24优化数量显示问题 -->
			<tr class="trbody">
				<td style="text-align: left"><img src="{php echo tomedia($row['thumb'])}" style='width:30px;height:30px;padding:1px;border:1px solid #ccc' onerror="this.src='../addons/ewei_shopv2/static/images/nopic.png'" /> <span class="newName">{$row['title']}</span>
					<span class="label label-danger" style="vertical-align: middle;width:38px;padding: 3px 5px;"> x{$row['goods_num']}</span></td>
				<td style='line-height:22px;'>
					{if $row['type']==1}
					<span class='label label-danger'>抽奖</span> {else}
					<span class='label label-primary'>兑换</span> {/if}
					<br/>
					{if $row['iscoupon']==0}
						{if $row['isverify']==1}
							<span class='label label-warning' {if !empty($row[ 'storename'])}data-toggle='popover' data-placement='top' data-trigger='hover' data-content='{$row['storename']}' data-title='兑换门店' {/if}>
								线下兑换 {if !empty($row['storename'])}<i class='fa fa-question-circle'></i>{/if}
							</span>
						{else}
							<span class='label label-success'>快递配送</span>
						{/if}
					{else}
						{if $row['goodstype'] == 1}
							<span class='label label-success'>优惠券</span>
						{elseif $row['goodstype'] == 2}
							<span class='label label-warning'>余额</span>
						{elseif $row['goodstype'] == 3}
							<span class='label label-danger'>红包</span>
						{/if}
					{/if}
				</td>
				<td>
					<img class="radius50" src="{php echo tomedia($row['avatar'])}" style='width:30px;height:30px;padding:1px;border:1px solid #ccc'  onerror="this.src='../addons/ewei_shopv2/static/images/noface.png'"/> {$row['nickname']}
				</td>
				<td>
					{php echo empty($row['realname'])?$row['mrealname']:$row['realname']}<br /> {php echo empty($row['mobile'])?$row['mmobile']:$row['mobile']}
				</td>
				<td>
					{if $row['paytype']==-1}
					<span class='text-default'>无需支付</span>
					{else}
					{if $row['paytype']==0}
					{if $row['paystatus']==0}
						<span><i class="icow icow-yue text-default"></i>余额未支付</span>
					{else}
						<span><i class="icow icow-yue text-warning"></i>余额已支付</span>
					{/if}
					{elseif $row['paytype']==1}
					{if $row['paystatus']==0}<span class='text-default'><i class="icow icow-weixin"></i>微信未支付</span>{else}<span class='text-default'><i class="icow icow-weixin text-success"></i>微信已支付</span>{/if}
					{elseif $row['paytype']==2}
					{if $row['paystatus']==0}<span class='text-default'><i class="icow icow-zhifubao"></i>支付宝未支付</span>{else}<span class='text-default'><i class="icow icow-zhifubao text-primary"></i>支付宝已支付</span>{/if}
					{/if}
					{/if}
					<br/>
					{if $row['dispatchstatus']==-1}<span class='text-default'>无需运费</span>
					{elseif $row['dispatchstatus']==0}<span class='text-default'>未支付运费</span>
					{elseif $row['dispatchstatus']==1}<span class='text-primary'>已支付运费</span> {/if}
				</td>
				<td>{if $row['credit']>0}-{php echo $row['credit']*$row['goods_num']}积分<br/>{/if} {if $row['money']>0 || $row['dispatch'] > 0} -{php echo number_format($row['money']*$row['goods_num'] + $row['dispatch'],2)}现金 {/if}
				</td>
				{if $type == 5 || $type == 6 || $type == 7}
				<td>
					{if !empty($row['verifytime'])}
					{php echo date('Y-m-d',$row['verifytime'])}<br />
					{php echo date('H:i:s',$row['verifytime'])}
					{else}
					-
					{/if}
				</td>
				{/if}
				<td>
					{ifp 'creditshop.log.detail'}
					<a class='text-primary' href="{php echo webUrl('creditshop/log/detail',array('id' => $row['id']));}">
						查看详情
					</a>
					{/if}
					{if $row['addressid']!=0 && $row['expresssn']>0}
					<br/>
					<a class='text-primary' data-toggle="ajaxModal" href="{php echo webUrl('util/express', array('id' => $row['id'],'express'=>$row['express'],'expresssn'=>$row['expresssn'], 'mobile'=>$row['address']['mobile']))}">
						 物流信息
					</a>
					{/if}
					{ifp 'creditshop.log.exchange'}
					{if $row['canexchange']}
					<br/>
					<a class='text-primary' data-toggle='ajaxModal' href="{php echo webUrl('creditshop/log/doexchange',array('id' => $row['id'],'type'=>$row['goodstype']));}">
						兑换
					</a>
					{/if}
					{/if}
				</td>
				<td style='line-height:22px;'>
					{if $row['status'] ==0}
					<span class='text-warning'>未支付</span>
					{/if}
					{if $row['status'] ==1 && $row['type']==1}<span class='text-danger'>未中奖</span>{/if}
					{if $row['goodstype']==0}
						{if $row['isverify']==1}
							{if $row['status'] ==2}<span class='text-warning'>待核销</span>{/if}
							{if $set['isreply'] == 1}
								{if $row['status'] ==3 && $row['iscomment'] == 0 }<span class='text-default'>等待评价</span>{/if}
								{if $row['status'] ==3 && $row['iscomment'] == 1 }<span class='text-success'>追加评价</span>{/if}
								{if $row['status'] ==3 && $row['iscomment'] == 2 }<span class='text-danger'>已完成</span>{/if}
							{else}
								{if $row['status'] ==3}<span class='text-danger'>已完成</span>{/if}
							{/if}
						{else}
							{if $row['status'] ==2 && $row['addressid'] == 0 }<span class='text-warning'>{if $row['type']==0}已兑换{else}已中奖{/if}</span>{/if}
							{if $row['status'] ==2 && $row['addressid'] > 0 && $row['time_send'] == 0}<span class='text-default'>待发货</span>{/if}
							{if $row['status'] ==3 && $row['time_send'] > 0 && $row['time_finish'] ==0 }<span class='text-success'>已发货</span><br>
							<a class="btn btn-primary btn-xs" data-toggle="ajaxPost" href="{php echo webUrl('creditshop/log/goodsfinish',array('id' => $row['id'],'merchid'=>$row['merchid']))}">确认收货</a>
							{/if}
							{if $set['isreply'] == 1}
								{if $row['status'] ==3 && $row['time_finish'] > 0 && $row['iscomment'] == 0 }<span class='text-default'>等待评价</span>{/if}
								{if $row['status'] ==3 && $row['time_finish'] > 0 && $row['iscomment'] == 1 }<span class='text-success'>追加评价</span>{/if}
								{if $row['status'] ==3 && $row['time_finish'] > 0 && $row['iscomment'] == 2 }<span class='text-danger'>已完成</span>{/if}
							{else}
								{if $row['status'] ==3 && $row['time_finish'] > 0}<span class='text-danger'>已完成</span>{/if}
							{/if}
						{/if}
					{elseif $row['goodstype']==1}
						{if $set['isreply'] == 1}
							{if $row['status'] ==3 && $row['iscomment'] == 0 }<span class='text-default'>等待评价</span>{/if}
							{if $row['status'] ==3 && $row['iscomment'] == 1 }<span class='text-success'>追加评价</span>{/if}
							{if $row['status'] ==3 && $row['iscomment'] == 2 }<span class='text-danger'>已发放</span>{/if}
						{else}
							{if $row['status'] ==3}<span class='text-danger'>已发放</span>{/if}
						{/if}
					{elseif $row['goodstype']==2}
						{if $set['isreply'] == 1}
							{if $row['status'] ==3 && $row['iscomment'] == 0 }<span class='text-default'>等待评价</span>{/if}
							{if $row['status'] ==3 && $row['iscomment'] == 1 }<span class='text-success'>追加评价</span>{/if}
							{if $row['status'] ==3 && $row['iscomment'] == 2 }<span class='text-danger'>已发放</span>{/if}
						{else}
							{if $row['status'] ==3 }<span class='text-danger'>已发放{/if}
						 {/if}
					 {elseif $row['goodstype']==3}
						 {if $set['isreply'] == 1}
							 {if $row['status'] ==3 && $row['iscomment'] == 0 }<span class='text-success'>等待评价</span>{/if}
							 {if $row['status'] ==3 && $row['iscomment'] == 1 }<span class='text-success'>追加评价</span>{/if}
							 {if $row['status'] ==3 && $row['iscomment'] == 2 }<span class='text-danger'>已发放</span>{/if}
						 {else}
							{if $row['status'] ==3}<span class='text-danger'>已发放</span>{/if}
						 {/if}
					 {/if}
					<br/>
				</td>

			</tr>
			{/loop}
		</tbody>
		<tfoot>
		{if $type == 5 || $type == 6 || $type == 7}
		<tr>
			<td colspan="9" class="text-right">{$pager}</td>
		</tr>
		{else}
		<tr>
			<td colspan="8" class="text-right">{$pager}</td>
		</tr>
		{/if}
		</tfoot>
	</table>
	{else}
	<div class='panel panel-default'>
		<div class='panel-body' style='text-align: center;padding:30px;'>
			暂时没有任何记录!
		</div>
		{/if}
	</div>
</div>
{template '_footer'}