{template '_header'}
<script>document.title = "{if !empty($page)&&!empty($page['data']['page']['title'])}{$page['data']['page']['title']}{else}{$_W['shopset']['shop']['name']}{/if}"; </script>
<link rel="stylesheet" href="../addons/ewei_shopv2/static/js/dist/swiper/swiper.min.css">
<link href="../addons/ewei_shopv2/plugin/diypage/static/css/foxui.diy.css?v=201705261648"rel="stylesheet"type="text/css"/>
<style type="text/css">
    {if is_h5app()&&is_ios()}
    .fui-header ~ .diy-fixedsearch {top: 3.2rem;}
    .fui-header~.fui-content .fui-topmenu {top: 3.2rem;}
    {/if}
</style>
{if $page['type']==4}
{template 'commission/common'}
{/if}
<div class='fui-page  shop-index-page fui-page-current {if $page['type']==3}member-page{elseif $page['type']==4}page-commission-index{/if}' style="top: 0; background-color: {$page['data']['page']['background']}; ">
{if !empty($page['data']['page']['followbar'])}
{php $this->followBar(true, $page['merch'])}
{/if}
{if !is_weixin()}
<div class="fui-header" style="max-width:750px;">
    <div class="fui-header-left">
        {if $page['type']==1}
        <a href="{php echo mobileUrl()}" class="external"><i class="icon icon-home"></i> </a>
        {/if}
    </div>
    <div class="title">{if !empty($page)&&!empty($page['data']['page']['title'])}{$page['data']['page']['title']}{else}{$_W['shopset']['shop']['name']}{/if}</div>
    <div class="fui-header-right"></div>
</div>
{/if}

{if !empty($diyitem_search) && empty($diy_topmenu)}
{template 'diypage/template/tpl_fixedsearch'}
{/if}

<div id="amap-container" style="display: none;"></div>
<div class="fui-content {if $page['diymenu']>-1}navbar{/if}" id="container" style="background-color: {$page['data']['page']['background']}; {if $page['diymenu']>-1}padding-bottom: 0;{/if} {if !empty($diyitem_search) && empty($diy_topmenu)}margin-top: 44px;{/if}">
    {if $diy_topmenu}
    {template 'diypage/template/tpl_topmenu_data'}
    <div class="default-items" style="margin-top: 2rem">
        {else}
        <div class="default-items" >
    {/if}
<!--    <div class="default-items">-->
        {if !empty($diyitems)}
        {loop $diyitems $diyitemid $diyitem}
        {template 'diypage/template/tpl_'.$diyitem['id']}
        {/loop}
        {template '_copyright'}
        {/if}
    </div>
        {if $diy_topmenu }
    <div class="custom-items" style="margin-top: 2rem"></div>
        {else}
        <div class="custom-items"></div>

        {/if}

    {template 'goods/picker'}
    {template 'goods/wholesalePicker'}
</div>

{if $page['diymenu']>-1}
{php $this->footerMenus($page['diymenu'], $page['merch'])}
{/if}

{php $diypage=true}

{if !empty($page['data']['page']['diylayer'])}
{php $this->diyLayer(false, false, $page['merch'])}
{/if}
{if !empty($page['data']['page']['diygotop'])}
{php $this->diyGotop(true, false, $page['merch'])}
{/if}

{if !empty($page['data']['page']['danmu'])}
{php $this->diyDanmu(true)}
{/if}


{if !empty($startadv)}
{template 'diypage/startadv'}
{/if}

{if !empty($cpinfos)}
{template 'sale/sendticket'}
{/if}


{if empty($trade['shop_strengthen']) && $page['type']==2}
{template 'shop/shopstrengthen'}
{/if}

<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZQiFErjQB7inrGpx27M1GR5w3TxZ64k7&s={php echo time()}"></script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.12&key=1fb308f0707e5ff11db5997d42660396&s={php echo time()}"></script>
<script language="javascript">
    require(['../addons/ewei_shopv2/plugin/diypage/static/js/mobile.js'], function(modal){
        modal.init();
    });
</script>

</div>

{template '_footer'}