{template '_header'}
<style>
    .fui-cell-group:not(.fui-cell-group-o):before{
        border:0
    }
    .fui-cell-group:first-child{
        margin-top: 0;
    }
    /* 智能地址识别样式 */
    .fui-cell-group .fui-cell .intel {
        top: -1px;
    }

    .fui-cell-group .fui-cell .remarkRotate {
        top: 2px;
    }

    .fui-cell-group .fui-cell .intel{
        content: " ";
        display: inline-block;
        transform: rotate(135deg);
        height: 8px;
        width: 8px;
        border-width: 1px 1px 0 0;
        border-color: #c8c8cd;
        border-style: solid;
        position: relative;
        top: -1px;
        margin-left: 0.3em;
        transition: 1s;
    }

    .fui-cell-group .fui-cell .remarkRotate {
        content: " ";
        display: inline-block;
        transform: rotate(-45deg);
        height: 8px;
        width: 8px;
        border-width: 1px 1px 0 0;
        border-color: #c8c8cd;
        border-style: solid;
        position: relative;
        top: -1px;
        margin-left: 0.3em;
        transition: 1s;
    }

    /*.fui-cell-group .remark.fui-cell:before {*/
    /*    border-top: none;*/
    /*}*/

    .intelligence {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        line-height: 20px;
    }

    .intelligence textarea {
        width: 270px;
        margin-top: 4px;
        transition: 1s;
        font-size: 14px;
    }

    .intelligence .line {
        height: 35px;
        width: 0;
        border: 0.5px solid #ebebeb;
        margin: 5px 10px;
    }

    .intelligence .copy {
        width: 55px;
        height: 45px;
        line-height: 45px;
        font-size: 14px;
        text-align: center;
        color: #f55;
    }

    .fui-cell.remark.subBtn {
        justify-content: flex-end;
        padding-top: 0;
    }

    .fui-cell.remark .intelligenceSubmit {
        width: 92px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        font-size: 14px;
        border-radius: 4px;
        color: #fff;
        background: #f55;
    }
    .fui-cell-group .border.fui-cell:before {
        border-top: none;
    }
    .notop.fui-cell:before {
        content: " ";
        border-top: none;
    }
    .fui-cell-group .remark.border.fui-cell:after{
        content: " ";
        position: absolute;
        left: 0.5rem;
        right: 0.5rem;
        bottom: -1px;
        height: 1px;
        border-top: 1px solid #ebebeb;
        color: #D9D9D9;
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
    /* 智能地址识别样式结束 */
</style>
<div class='fui-page  fui-page-current'>
    <div class="fui-header">
        <div class="fui-header-left">
            <a class="back"></a>
        </div>
        <div class="title">{if empty($address)}新建地址{else}编辑地址{/if}</div>
        <div class="fui-header-right"><a data-toggle="delete" data-addressid="{$address['id']}">{if !empty($address)}删除{/if}</a></div>
    </div>
    <div class='fui-content'>
        <!--{if is_weixin() && $_W['shopset']['trade']['shareaddress']}-->
        <!--<div class="fui-cell-group order-info noborder">-->
            <!--<a class="fui-cell" id="btn-address">-->
                <!--<div class="fui-cell-text">-->
                    <!--从微信选择地址-->
                <!--</div>-->
                <!--<div class="fui-cell-remark text-danger">-->
                <!--</div>-->
            <!--</a>-->


        <!--</div>-->
        <!--{/if}-->
        <form method='post' class='form-ajax' >
            <input type='hidden' id='addressid' value="{$address['id']}"/>
            <div class='fui-cell-group'>
                <div class='fui-cell'>

                    <div class='fui-cell-label'>收货人</div>
                    <div class='fui-cell-info c000'><input type="text" id='realname'  name='realname' value="{$address['realname']}" placeholder="请填写收货人姓名" class="fui-input"/></div>
                </div>
                <div class='fui-cell'>
                    <div class='fui-cell-label'>联系电话</div>

                    <div class='fui-cell-info c000'><input type="tel" id='mobile' name='mobile' value="{$address['mobile']}" placeholder="请填写联系电话"  class="fui-input"/></div>
                </div>

                <div class='fui-cell'>
                    <div class='fui-cell-label'>所在地区</div>
                    <div class='fui-cell-info c000'><input type="text" id='areas'  name='areas' data-value="{if !empty($show_data) && !empty($address)}{$address['datavalue']}{/if}" value="{if !empty($address)}{$address['province']} {$address['city']} {$address['area']}{/if}" placeholder="所在地区"  class="fui-input" readonly=""/></div>
                </div>

                {if !empty($new_area) && !empty($address_street)}
                <div class='fui-cell'>
                    <div class='fui-cell-label'>所在街道</div>
                    <div class='fui-cell-info c000'><input type="text" id='street'  name='street' data-value="{if !empty($address)}{$address['streetdatavalue']}{/if}" value="{if !empty($address)}{$address['street']}{/if}" placeholder="所在街道"  class="fui-input" readonly=""/></div>
                </div>
                {/if}

                <div class='fui-cell'>
                    <div class='fui-cell-label'>详细地址</div>
                    <div class='fui-cell-info c000'><input type="text" id='address' name='address' value="{$address['address']}" placeholder='街道，楼牌号等'  class="fui-input"/></div>
                </div>
                <!-- 智能填写地址新增 -->
                <div class='fui-cell' id="intellete">
                    <div class='fui-cell-label' style="width: 96%;color: #999;">智能填写</div>
                    <div class="intel"></div>
                </div>
                <div class="slideup" style="display: none;">
                    <div class="fui-cell border" >
                        <div class="intelligence">
                            <textarea type="text" id="intelIpt" placeholder="粘贴地址信息，可自动识别并填写如：姓名，电话，山东省青岛市xxx区xxx街道xxxxxxx"  value="" ></textarea>
                            <!--<div class="line"></div>-->
                            <!--<div class="copy">粘贴</div>-->
                        </div>
                    </div>
                    <div class="fui-cell remark subBtn border" >
                        <div class="intelligenceSubmit">提交</div>
                    </div>
                </div>
                <!-- 智能填写地址结束 -->

                {if empty($address['isdefault'])}
                    <div class="fui-cell ">
                        <div class="fui-cell-label" style="width:auto">设置默认地址</div>
                        <div class="fui-cell-info ">
                            <input type="checkbox" id='isdefault' class="fui-switch fui-switch-danger pull-right">
                        </div>
                    </div>
 				<!--<div class="fui-cell ">-->
                    <!--<div class="fui-cell-label" style="width:auto">设置默认地址</div>-->
                    <!--<div class="fui-cell-info  c000"><input type="checkbox" class="fui-switch fui-switch-danger pull-right"data-toggle="setdefault" data-addressid="{$address['id']}"></div>-->
                <!--</div>-->
                {/if}
            </div>

            
            <a id="btn-submit" class='external btn btn-danger block' style="margin-top:1.25rem">保存地址</a>
              {if is_weixin() && $_W['shopset']['trade']['shareaddress']}
                <!--<a id="btn-address" class='btn btn-success block'>读取微信地址</a>-->
            {/if}


        </form>
    </div>
    <script language='javascript' type="text/javascript">

//        if(queryArr.indexOf('is_from_wx=1')!=-1 &&  sessionStorage.getItem('addressParams')){
//           var  res =  JSON.parse(sessionStorage.getItem('addressParams'))
//            $("#realname").val(res.userName);
//            $('#mobile').val(res.telNumber);
//            $('#address').val(res.detailInfo);
//            $('#areas').val(res.provinceName + " " + res.cityName + " " + res.countryName);
//            var provinceName = res.provinceName, cityName = res.cityName, countyName = res.countryName;
//            var province_code = 0, city_code = 0, county_code = 0;
//            var xmlfile = '../addons/ewei_shopv2/static/js/dist/area/AreaNew.xml?v=5';
//            xmlDoc = loadXmlFile(xmlfile);
//            if (window.ActiveXObject) {
//                TopnodeList = xmlDoc.selectSingleNode("address").childNodes
//            } else {
//                TopnodeList = xmlDoc.childNodes[0].getElementsByTagName("province")
//            }
//            if (TopnodeList.length > 0) {
//                for (var province_index = 0; province_index < TopnodeList.length; province_index++) {
//                    province = TopnodeList[province_index];
//                    if (province.getAttribute("name") == provinceName && provinceName != null && provinceName.trim().length > 0) {
//                        province_code = province.getAttribute("code");
//                        citys = TopnodeList[province_index].getElementsByTagName("city");
//                        for (var citys_index = 0; citys_index < citys.length; citys_index++) {
//                            if (citys[citys_index].getAttribute("name") == cityName && cityName != null && cityName.trim().length > 0) {
//                                city_code = citys[citys_index].getAttribute("code");
//                                county = TopnodeList[province_index].getElementsByTagName("city")[citys_index].getElementsByTagName("county");
//                                for (var county_index = 0; county_index < county.length; county_index++) {
//                                    if (county[county_index].getAttribute("name") == countyName && countyName != null && countyName.trim().length > 0) {
//                                        county_code = county[county_index].getAttribute("code")
//                                    }
//                                }
//                            }
//                        }
//                    }
//                }
//            }
//            $("#areas").attr("data-value", province_code + " " + city_code + " " + county_code);
//
//        }
//        sessionStorage.setItem('addressParams','')
        require(['biz/member/address'], function (modal) {
            modal.initPost({new_area: {php echo $new_area}, address_street: {php echo $address_street}});
        });
    </script>
    <script language='javascript'>require(['biz/member/address'], function (modal) {
        modal.initList();
    });</script>
    <!-- 智能识别js -->
    <script>
        $('#intellete').on('click',function(){
            var bar = $(this).find('div').eq(1).hasClass('remarkRotate');
            if(bar){
                $(this).removeClass("notop");
                $(this).find('div').eq(0).css('color','#999');
                $(this).find('div').eq(1).removeClass('remarkRotate').addClass('intel');
            }else {
                $(this).addClass("notop");
                $(this).find('div').eq(0).css('color','#f55');
                $(this).find('div').eq(1).removeClass('intel').addClass('remarkRotate');
            }
            $('.slideup').slideToggle('slow');
        });
        $('.intelligenceSubmit').on('click',function(){
            var value = $('#intelIpt').val();
            if(!value) {
                FoxUI.toast.show("粘贴内容不能为空");
                return ;
            }else {
                const parseResult = window.ZhAddressParse(value, { type: 0, textFilter: ['电話', '電話', '聯系人'] });
                // The parseResult is an object contain { province: '', name: '', city: '', area: '', detail: '', phone: '', postalCode: '' }
                // 分别表示了省 收件人 城市 地区 详细地址 手机号 邮编
                $('#realname').val(parseResult.name);
                $('#mobile').val(parseResult.phone);
                $('#areas').val(parseResult.province + ' ' + parseResult.city + ' ' + parseResult.area);
                $('#areas').attr('data-value',parseResult.provinceCode + ' ' + parseResult.cityCode + ' ' + parseResult.areaCode);
                $('#address').val(parseResult.detail);
                if( parseResult.cityCode && parseResult.areaCode){
                    require(['biz/member/address'], function (modal) {
                        var param = {
                            new_area : 0,
                            address_street : 0
                        };
                        if(parseResult.city) {
                            param.address_street =1
                        }
                        if(parseResult.area){
                            param.new_area = 1
                        }
                        modal.initPost(param);
                        window.loadStreetData(parseResult.cityCode,parseResult.areaCode);
                    })
                }else {
                    FoxUI.toast.show("请选择所在城市");
                    return ;
                }
            }
        });
        $('.copy').on('click',function () {
            var pasteEvent = new ClipboardEvent('paste');
            console.log(pasteEvent);
            pasteEvent.clipboardData.add('My string', 'text/plain');
            document.dispatchEvent(pasteEvent);
            alert('粘贴');
        });


    </script>
    <!-- 智能地址识别结束 -->
</div>

{template '_footer'}