<div class="form-group">
    <label class="col-lg control-label">模板选择</label>
    <div class="col-sm-9 col-xs-12">
    {ifp 'commission.set.edit'}
		<select class='form-control' name='data[style]'>
		    {loop $styles  $style}
		    <option value='{$style}' {if $style==$data['style']}selected{/if}>{$style}</option>
		    {/loop}
		</select>
	{else}
		{$data['style']}
	{/if}
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label">注册面头部图片</label>
    <div class="col-sm-9 col-xs-12">
    	{ifp 'commission.set.edit'}
			{php echo tpl_form_field_image('data[regbg]',$data['regbg'],'../addons/ewei_shopv2/plugin/commission/template/mobile/default/static/images/bg.png')}
		{else}
			{if empty($data['regbg'])}
				<img src="../addons/ewei_shopv2/plugin/commission/template/mobile/default/static/images/bg.png" onerror="this.src='../addons/ewei_shopv2/plugin/commission/template/mobile/default/static/images/bg.png'; this.title='图片未找到.'" class="img-responsive img-thumbnail" width="150">
			{else}
				<img src="{php echo tomedia($data['regbg'])}" onerror="this.src='../addons/ewei_shopv2/plugin/commission/template/mobile/default/static/images/bg.png'; this.title='图片未找到.'" class="img-responsive img-thumbnail" width="150">
			{/if}
		{/if}
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">分销商名称</div>
	    {ifp 'commission.set.edit'}
	    	<input type="text" name="texts[agent]" class="form-control" value="{php echo empty($data['texts']['agent'])?'分销商':$data['texts']['agent']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['agent'])?'分销商':$data['texts']['agent']}</div>
	    {/if}
	</div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">小店</div>
	    {ifp 'commission.set.edit'}
	    	<input type="text" name="texts[shop]" class="form-control" value="{php echo empty($data['texts']['shop'])?'小店':$data['texts']['shop']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['shop'])?'小店':$data['texts']['shop']}</div>
	    {/if}
	</div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">我的小店</div>
	    {ifp 'commission.set.edit'}
	    	<input type="text" name="texts[myshop]" class="form-control" value="{php echo empty($data['texts']['myshop'])?'我的小店':$data['texts']['myshop']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['myshop'])?'我的小店':$data['texts']['myshop']}</div>
	    {/if}
	</div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">分销中心</div>
	    {ifp 'commission.set.edit'}
	    	<input type="text" name="texts[center]" class="form-control" value="{php echo empty($data['texts']['center'])?'分销中心':$data['texts']['center']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['center'])?'分销中心':$data['texts']['center']}</div>
	    {/if}
	</div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">成为分销商</div>
	    {ifp 'commission.set.edit'}
	    	<input type="text" name="texts[become]" class="form-control" value="{php echo empty($data['texts']['become'])?'成为分销商':$data['texts']['become']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['become'])?'成为分销商':$data['texts']['become']}</div>
	    {/if}
	</div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">提现</div>
	    {ifp 'commission.set.edit'}
	    	<input type="text" name="texts[withdraw]" class="form-control" value="{php echo empty($data['texts']['withdraw'])?'提现':$data['texts']['withdraw']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['withdraw'])?'提现':$data['texts']['withdraw']}</div>
	    {/if}
	</div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">佣金</div>
	    {ifp 'commission.set.edit'}
	    	<input type="text" name="texts[commission]" class="form-control" value="{php echo empty($data['texts']['commission'])?'佣金':$data['texts']['commission']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['commission'])?'佣金':$data['texts']['commission']}</div>
	    {/if}
	</div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">分销佣金</div>
	    {ifp 'commission.set.edit'}
	    	<input type="text" name="texts[commission1]" class="form-control" value="{php echo empty($data['texts']['commission1'])?'分销佣金':$data['texts']['commission1']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['commission1'])?'分销佣金':$data['texts']['commission1']}</div>
	    {/if}
	</div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">累计佣金</div>
	    {ifp 'commission.set.edit'}
	    	<input type="text" name="texts[commission_total]" class="form-control" value="{php echo empty($data['texts']['commission_total'])?'累计佣金':$data['texts']['commission_total']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['commission_total'])?'累计佣金':$data['texts']['commission_total']}</div>
	    {/if}
	</div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">可提现佣金</div>
	    {ifp 'commission.set.edit'}
	    	<input type="text" name="texts[commission_ok]" class="form-control" value="{php echo empty($data['texts']['commission_ok'])?'可提现佣金':$data['texts']['commission_ok']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['commission_ok'])?'可提现佣金':$data['texts']['commission_ok']}</div>
	    {/if}
	</div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">已申请佣金</div>
	    {ifp 'commission.set.edit'}
	    	<input type="text" name="texts[commission_apply]" class="form-control" value="{php echo empty($data['texts']['commission_apply'])?'已申请佣金':$data['texts']['commission_apply']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['commission_apply'])?'已申请佣金':$data['texts']['commission_apply']}</div>
	    {/if}
	</div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">待打款佣金</div>
	    {ifp 'commission.set.edit'}
	    	<input type="text" name="texts[commission_check]" class="form-control" value="{php echo empty($data['texts']['commission_check'])?'待打款佣金':$data['texts']['commission_check']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['commission_check'])?'待打款佣金':$data['texts']['commission_check']}</div>
	    {/if}
	</div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">未结算佣金</div>
	    {ifp 'commission.set.edit'}
	    	<input type="text" name="texts[commission_lock]" class="form-control" value="{php echo empty($data['texts']['commission_lock'])?'未结算佣金':$data['texts']['commission_lock']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['commission_lock'])?'未结算佣金':$data['texts']['commission_lock']}</div>
	    {/if}
	</div>
    </div>
</div>
<div class="form-group">
	<label class="col-lg control-label"></label>
	<div class="col-sm-9 col-xs-12">
		<div class="input-group">
			<div class="input-group-addon">待收货佣金</div>
			{ifp 'commission.set.edit'}
			<input type="text" name="texts[commission_wait]" class="form-control" value="{php echo empty($data['texts']['commission_wait'])?'待收货佣金':$data['texts']['commission_wait']}"  />
			{else}
			<div class="form-control valid">{php echo empty($data['texts']['commission_wait'])?'待收货佣金':$data['texts']['commission_wait']}</div>
			{/if}
		</div>
	</div>
</div>
<div class="form-group">
	<label class="col-lg control-label"></label>
	<div class="col-sm-9 col-xs-12">
		<div class="input-group">
			<div class="input-group-addon">无效佣金</div>
			{ifp 'commission.set.edit'}
			<input type="text" name="texts[commission_fail]" class="form-control" value="{php echo empty($data['texts']['commission_fail'])?'无效佣金':$data['texts']['commission_fail']}"  />
			{else}
			<div class="form-control valid">{php echo empty($data['texts']['commission_fail'])?'无效佣金':$data['texts']['commission_fail']}</div>
			{/if}
		</div>
	</div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">成功提现佣金</div>
	    {ifp 'commission.set.edit'}
	    	<input type="text" name="texts[commission_pay]" class="form-control" value="{php echo empty($data['texts']['commission_pay'])?'成功提现佣金':$data['texts']['commission_pay']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['commission_pay'])?'成功提现佣金':$data['texts']['commission_pay']}</div>
	    {/if}
	</div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
        <div class="input-group">
            <div class="input-group-addon">扣除提现手续费</div>
            {ifp 'commission.set.edit'}
            <input type="text" name="texts[commission_charge]" class="form-control" value="{php echo empty($data['texts']['commission_charge'])?'扣除提现手续费':$data['texts']['commission_charge']}"  />
            {else}
            <div class="form-control valid">{php echo empty($data['texts']['commission_charge'])?'成功提现佣金':$data['texts']['commission_charge']}</div>
            {/if}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">佣金明细</div>
	    {ifp 'commission.set.edit'}
	    	<input type="text" name="texts[commission_detail]" class="form-control" value="{php echo empty($data['texts']['commission_detail'])?'佣金明细':$data['texts']['commission_detail']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['commission_detail'])?'佣金明细':$data['texts']['commission_detail']}</div>
	    {/if}
	</div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">分销订单</div>
	    {ifp 'commission.set.edit'}
	    <input type="text" name="texts[order]" class="form-control" value="{php echo empty($data['texts']['order'])?'分销订单':$data['texts']['order']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['order'])?'分销订单':$data['texts']['order']}</div>
	    {/if}
	</div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">下线</div>
	    {ifp 'commission.set.edit'}
	    	<input type="text" name="texts[down]" class="form-control" value="{php echo empty($data['texts']['down'])?'下线':$data['texts']['down']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['down'])?'下线':$data['texts']['down']}</div>
	    {/if}
	</div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">我的下线</div>
	    {ifp 'commission.set.edit'}
	    	<input type="text" name="texts[mydown]" class="form-control" value="{php echo empty($data['texts']['mydown'])?'我的下线':$data['texts']['mydown']}"  />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['mydown'])?'我的下线':$data['texts']['mydown']}</div>
	    {/if}
	</div>
    </div>
</div>

<div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
	<div class="input-group">
	    <div class="input-group-addon">级别名称</div>
	    {ifp 'commission.set.edit'}
	    <input type="text" name="texts[c1]" class="form-control" value="{php echo empty($data['texts']['c1'])?'一级':$data['texts']['c1']}" style="width:100px;" />
	    <input type="text" name="texts[c2]" class="form-control" value="{php echo empty($data['texts']['c2'])?'二级':$data['texts']['c2']}" style="width:100px;" />
	    <input type="text" name="texts[c3]" class="form-control" value="{php echo empty($data['texts']['c3'])?'三级':$data['texts']['c3']}" style="width:100px;" />
	    {else}
	    	<div class="form-control valid">{php echo empty($data['texts']['c1'])?'一级':$data['texts']['c1']}</div>
	    	<div class="form-control valid">{php echo empty($data['texts']['c2'])?'二级':$data['texts']['c2']}</div>
	    	<div class="form-control valid">{php echo empty($data['texts']['c3'])?'三级':$data['texts']['c3']}</div>
	    {/if}
	</div>
    </div>
</div>

<div class="form-group">
	<label class="col-lg control-label"></label>
	<div class="col-sm-9 col-xs-12">
		<div class="input-group">
			<div class="input-group-addon">元</div>
			{ifp 'commission.set.edit'}
			<input type="text" name="texts[yuan]" class="form-control" value="{php echo empty($data['texts']['yuan'])?'元':$data['texts']['yuan']}"  />
			{else}
			<div class="form-control valid">{php echo empty($data['texts']['yuan'])?'我的下线':$data['texts']['yuan']}</div>
			{/if}
		</div>
	</div>
</div>

<div class="form-group">
	<label class="col-lg control-label"></label>
	<div class="col-sm-9 col-xs-12">
		<div class="input-group">
			<div class="input-group-addon">邀请码</div>
			{ifp 'commission.set.edit'}
			<input type="text" name="texts[icode]" class="form-control" value="{php echo empty($data['texts']['icode'])?'邀请码':$data['texts']['icode']}"  />
			{else}
			<div class="form-control valid">{php echo empty($data['texts']['icode'])?'邀请码':$data['texts']['icode']}</div>
			{/if}
		</div>
	</div>
</div>
<div class="form-group">
	<label class="col-lg control-label"></label>
	<div class="col-sm-9 col-xs-12">
		<div class="input-group">
			<div class="input-group-addon">分销等级</div>
			{ifp 'commission.set.edit'}
			<input type="text" name="texts[orderlevel]" class="form-control" value="{php echo empty($data['texts']['orderlevel'])?'分销等级':$data['texts']['orderlevel']}"  />
			{else}
			<div class="form-control valid">{php echo empty($data['texts']['orderlevel'])?'分销等级':$data['texts']['orderlevel']}</div>
			{/if}
		</div>
	</div>
</div>