<div class="form-group userinfo" style="margin-bottom: 0;" data-change="0">

    <div class="input-group" style="margin-bottom: 5px;">
        <span class="input-group-addon">收件人姓名</span>
        <input type="text" name="realname" value="{$address['realname']}" class="form-control valid">
        <span style="border-left: 0;" class="input-group-addon">昵称({$address['nickname']})</span>
        <input type="hidden" name="nickname" value="{$address['nickname']}" />
        <span style="border-left: 0; border-right: 0;" class="input-group-addon">收件人电话</span>
        <input type="tel" name="mobile" value="{$address['mobile']}" class="form-control valid">
    </div>

    <div class="input-group">
        <span class="input-group-addon">收件地址</span>
        <input type="text" name="province" value="{$address['province']}" class="form-control valid">
        <span style="border-left: 0; border-right: 0;" class="input-group-addon">省</span>
        <input type="text" name="city" value="{$address['city']}" class="form-control valid">
        <span style="border-left: 0; border-right: 0;" class="input-group-addon">市</span>
        <input type="text" name="area" value="{$address['area']}" class="form-control valid">
        <span style="border-left: 0; border-right: 0;" class="input-group-addon">区</span>
        <input type="text" name="address" value="{$address['address']}" class="form-control valid" style="width: 314px;">
    </div>

</div>
<div class="help-block">提示：以上收件人信息在打印时、一键发货时将被保存(点击商品名称可快速更改商品简称)。</div>
<table class="table table-responsive" style="table-layout: fixed;  margin-bottom: 0px;">
    <tr style="background:#f8f8f8">
        <td style="width: 26px; padding-left: 6px;">
            <label class="checkboxinline"><input type="checkbox" value="1" class="checkAll" checked="checked"></label>
        </td>
        <td style="width:75px;border-left:1px solid #f2f2f2;">商品</td>
        <td ></td>
        <td style="width:75px;text-align: right;;">单价/数量</td>
        <td style="width:75px;text-align: center;">支付/配送</td>
        <td style="width:110px;text-align: center;">价格</td>
        <td style="width:85px;text-align: center;">下单时间</td>
        <td style="width:70px;text-align: center">状态</td>
        <td style="width:80px;text-align: center">打印状态</td>
    </tr>
</table>

{php $remark1=""; $remark2="";}
{loop $list $item}
{php $remark1.= !empty($item['remark'])?$item['remark'].",":""; $remark2.= !empty($item['remarksaler'])?$item['remarksaler'].",":""}
<table class="table table-responsive" style="table-layout: fixed; border-bottom: 1px solid #f2f2f2;  margin-bottom: 0px;">
    <tr style="height: 0;">
        <th style="width: 26px;"></th>
        <th style="width: 75px;"></th>
        <th></th>
        <th style="width: 75px;"></th>
        <th style="width: 80px;"></th>
        <th style="width: 110px;"></th>
        <th style="width: 85px;"></th>
        <th style="width: 70px;"></th>
        <th style="width: 100px;"></th>
    </tr>
    <tr class="trorder">
        <td style="width: 26px; padding-left: 6px;">
            <label class="checkboxinline"><input type="checkbox" value="1" class="checkOrder" checked="checked"></label>
        </td>
        <td colspan="4">订单编号: {$item['ordersn']} {if !empty($item['refundstate'])}<label class='label label-danger'>退款申请</label>{/if}</td>
        <td class="aops" style="text-align:right;font-size:12px;" colspan="4">
            <a class="op text-primary" href="{php echo webUrl('order/detail', array('id'=>$item['id']))}" style="margin: 0; padding: 0px 5px;" target="_blank">查看详情</a>
        </td>
    </tr>
    {loop $item['goods'] $k $g}
    <!-- 此处记录数据 -->
    <tr class="trbody print-data"
        data-send-status="{$item['send_status']}"
        data-print-goodid="{$g['id']}"
        data-print-total="{$g['total']}"
        data-print-title="{$g['title']}"
        data-print-option="{$g['optiontitle']}"
        data-print-orderid="{$item['id']}"
        data-print-ordersn="{$item['ordersn']}"
        data-print-goodssn="{$g['goodssn']}"
        data-print-productsn="{$g['productsn']}"
        data-print-marketprice="{php echo $g['realprice']/$g['total']}"
        data-print-productprice="{php echo $g['price']/$g['total']}"
        data-print-realprice="{php echo $g['realprice']/$g['total']}"
        data-print-ordercode="{if $g['ordercode']==''}0{else}{$g['ordercode']}{/if}"
        data-print-ordergoodid="{$g['ordergoodid']}"
        data-print-unit="{$g['unit']}"
        data-print-weight="{$g['weight']}"
    >
        <td style="width: 26px; padding-left: 6px;">
            <label class="checkboxinline"><input type="checkbox" value="1" class="checkGood" checked="checked"></label>
        </td>
        <td style="overflow:hidden;">
            <img style="width:50px;height:50px;border:1px solid #ccc; padding:1px;" src="{php echo tomedia($g['thumb'])}" onerror="this.src='./resource/images/nopic.jpg'; this.title='图片未找到.'" />
        </td>
        <td style="text-align: left;overflow:hidden;">
						<span class="print-short" data-print-short="{$g['shorttitle']}" data-toggle='ajaxEdit' data-href="{php echo webUrl('exhelper/short/edit',array('id'=>$g['id']))}">
							{if empty($g['shorttitle'])}
								{$g['title']}
							{else}
								{$g['shorttitle']}
							{/if}
						</span>

            {if !empty($g['optiontitle'])}<br/>{$g['optiontitle']}{/if}
            {if !empty($g['goodssn'])}<br/>{$g['goodssn']}{/if}
        </td>
        <td style="text-align: right;">
            {php echo number_format($g['realprice']/$g['total'],2)}<br>
            x{$g['total']}
        </td>
        {if $k==0}
        <td style="text-align:center;" rowspan="{php echo count($item['goods'])}">
            <label class='label label-{$item['css']}'>{$item['paytypename']}</label>
            <br>
            <span style="margin-top:5px;display:block;">{$item['dispatchname']}</span>
        </td>
        <td style="text-align:center" rowspan="{php echo count($item['goods'])}">￥{$item['price']}
            {if $item['dispatchprice']>0}
            <br/>(含运费:￥{php echo number_format( $item['dispatchprice'],2)})
            {/if}
        </td>
        <td style="text-align:center" rowspan="{php echo count($item['goods'])}">
            {php echo date('Y-m-d', $item['createtime'])} <br>{php echo date('H:i:s', $item['createtime'])}
        </td>
        <td style="line-height:20px;text-align:center" class="ops" rowspan="{php echo count($item['goods'])}">
            <label class='label label-{$item['statuscss']} label-oss'>{$item['statusname']}</label>
        </td>
        {/if}
        <td style="line-height:20px;text-align:center" class="ops">
            <label class='label label-default print-state-esheet' data-state="{$g['esheetprintnum']}">电子面单x{$g['esheetprintnum']}</label>
        </td>
    </tr>
    {/loop}
    <tr>
        <td style="color: #F27474; text-align: left;" colspan="5">买家备注: <span class="remark1">{if !empty($item['remark'])}{$item['remark']}{else}无{/if}</span></td>
        <td style="color: #F0C49B; text-align: right;" colspan="4">卖家备注: <span class="remark2">{if !empty($item['remarksaler'])}{$item['remarksaler']}{else}无{/if}</span></td>
    </tr>
</table>
{/loop}
<input type="hidden" name="remark1" value="{$remark1}"  />
<input type="hidden" name="remark2" value="{$remark2}"  />
<table class="table table-responsive" style="table-layout: fixed; margin-bottom: 5px;">

    <tr>
        <td style="height:10px;padding:0;border-top:none; font-size: 0;" colspan="9">&nbsp;</td>
    </tr>
    <tr style=";border-bottom:none;background:#fafafa;">
        <td style="text-align:left" colspan="9"><i class="fa fa-cubes"></i> 发货信息</td>
    </tr>

    <tr>
        <td colspan="9" style="height:auto; padding: 0; border: 0;">
            <textarea class="form-control richtext valid sendinfo" style="max-width: 100%; min-width: 100%;" rows="4" readonly="readonly">{$address['sendinfo']}</textarea>
        </td>
    </tr>

</table>
<div class="print-btn">
    {ifp 'exhelper.esheetprint.single.express|exhelper.esheetprint.single.dosend'}
    <a class="btn btn-default btn-sm" id="print-template" data-ban = "0" onclick='$("#chooseTemp").modal();'>选择打印模板</a>
    {/if}

    {ifp 'exhelper.esheetprint.single.express'}
    <a href="javascript:;" class="btn btn-success btn-sm" id="print-esheet" data-ban = "0" >打印电子面单</a>
    {/if}

    {ifp 'exhelper.esheetprint.single.dosend'}
    <a href="javascript:;" class="btn btn-primary btn-sm" id="print-send" data-ban = "0">一键发货</a>
    {/if}
</div>
{template 'exhelper/esheetprint/print_tpl_template'}
<script>
    $(function(){

        // 计算发货信息
        changeSendInfo();

        $("#print-esheet").click(function(){

            if(!isCLodop){
                alert(LodopTip);
                return;
            }

            saveUser();

            var LODOP=getCLodop();

            var _thisBan = $(this).data("ban");
            if(_thisBan>0){
                return;
            }

            // 获取打印模板
            var temp_senderid = $("#temp_sender option:selected").val();
            var temp_esheetid = $("#temp_esheet option:selected").val();

            if(temp_senderid==''){
                tip.msgbox.err("请先选择发件人信息模版");
                return;
            }

            if(temp_esheetid==''){
                tip.msgbox.err("请先选择电子面单模版");
                return;
            }

            // 定义 LODOP 模板信息
            LODOP.PRINT_INITA(0,0,"100%","100%","单据打印");

            // 获取 收件人信息
            var Name = $.trim($(":input[name=realname]").val());
            var Mobile = $.trim($(":input[name=mobile]").val());
            var ProvinceName = $.trim($(":input[name=province]").val());
            var CityName = $.trim($(":input[name=city]").val());
            var ExpAreaName = $.trim($(":input[name=area]").val());
            var Address = $.trim($(":input[name=address]").val());

            var receiver=[];
            receiver.push({
                'Name':Name,
                'Mobile':Mobile,
                'ProvinceName':ProvinceName,
                'CityName':CityName,
                'ExpAreaName':ExpAreaName,
                'Address':Address
            });



            //重组商品
            var arr = [];
            $("#result-order").find("input[type=checkbox]:checked").not(".checkAll").not(".checkOrder").each(function(){
                var _this = $(this);
                var _tct = _this.closest(".print-data");
                var printShort = _tct.find(".print-short").data("print-short");// 商品简称
                var printGid = _tct.data("print-goodid");
                var printTitle = _tct.data("print-title");// 商品名称
                var printTotal = _tct.data("print-total");// 商品数量
                var printOption = _tct.data("print-option");// 商品规格
                var gTitle = !printShort?printTitle:printShort;
                var ordercode=_tct.data("print-ordercode");
                var ordergoodid=_tct.data("print-ordergoodid");
                var orderid=_tct.data("print-orderid");

                var state = -1;
                $.each(arr,function(i,d){
                    if(d.id===printGid && d.option===printOption && d.ordercode===ordercode){
                        state = i;
                        return false;
                    }
                });
                if(state>-1){
                    arr[state].num += printTotal;
                    arr[state].ordergoodid +=','+ordergoodid;
                    arr[state].orderid +=','+orderid;
                }else{
                    arr.push({
                        'id':printGid,
                        'title':gTitle,
                        'num':printTotal,
                        'option':printOption,
                        'ordercode':ordercode,
                        'ordergoodid':ordergoodid,
                        'orderid':orderid
                    });
                }
            });

            //组装商品详情
            goodsarr=[];
            $.each(arr,function(k,i){
                var sendinfo = '';
                sendinfo += i.title;
                if(i.option){
                    sendinfo += "("+i.option+")";
                }
                sendinfo += " x "+ i.num + "; ";
                goodsarr.push({
                    'id':i.id,
                    'title':i.title,
                    'num':i.num,
                    'option':i.option,
                    'ordercode':i.ordercode,
                    'ordergoodid':i.ordergoodid,
                    'orderid':i.orderid,
                    'sendinfo':sendinfo
                });
            });

            var printarr=[];
            $.each(goodsarr, function(ii,v) {
                var state = -1;
                $.each(printarr, function (i, d) {
                    if (d.ordercode === v.ordercode) {
                        state = i;
                        return false;
                    }
                });
                if(state>-1){
                    printarr[state].ordergoodid +=','+v.ordergoodid;
                    printarr[state].orderid +=','+v.orderid;
                    printarr[state].sendinfo+=v.sendinfo;
                    printarr[state].all_total +=v.num;
                }else{
                    printarr.push({
                        'ordergoodid':v.ordergoodid,
                        'sendinfo':v.sendinfo,
                        'ordercode':v.ordercode,
                        'orderid':v.orderid,
                        'all_total':v.num
                    });
                }
            });

            var iserr=false;
            var PrintTemplate='';
            $.each(printarr, function (i, p) {
                $.ajax({
                    type: 'POST',
                    url: "{php echo webUrl('exhelper/esheetprint/single/getesheetTemp')}",
                    data: {
                        temp_senderid:temp_senderid,
                        temp_esheetid:temp_esheetid,
                        receiver:receiver[0],
                        printarr:printarr[i],
                        is_group:1
                    },
                    dataType:'json',
                    async:false,
                    success: function(d){
                        if(d.result=="success"){
                            LODOP.ADD_PRINT_HTM(0,0,'100%','100%',d.PrintTemplate);
                            LODOP.NewPage();

                            $("#result-order").find("input[type=checkbox]:checked").not(".checkAll").not(".checkOrder").each(function() {
                                var _this = $(this).closest(".print-data");
                                var ordergoodid=_this.data("print-ordergoodid").toString();
                                var ordergid=printarr[i]['ordergoodid'].toString();
                                if(ordergid.indexOf(ordergoodid) > -1 )
                                {
                                    var print_state = _this.find(".print-state-esheet");
                                    var print_state_num = print_state.data("state")+1;
                                    print_state.text("电子面单x"+print_state_num).data("state",print_state_num);
                                    if(d.ordercode !=null){
                                        _this.data("print-ordercode",d.ordercode);
                                    }
                                    if(d.issend==1){
                                        $(this).parent().parent().parent().find(".label-oss").removeClass("label-info").removeClass("label-danger").addClass("label-warning").text("待收货");
                                        _this.data("send-status",0);
                                    }
                                }
                            })
                        }else{
                            tip.msgbox.err(d.resp);
                            iserr=true;
//                            return;
                        }
                    }
                });
            })


            // 获取打印状态
            if(!iserr){
                // 获取打印状态
                if (LODOP.CVERSION) {
                    LODOP.On_Return=function(TaskID,Value){
                        if (Value==1){
                            tip.msgbox.suc("已提交至打印机");
                        }else{
                            tip.msgbox.err("打印已取消");
                        }
                    };
                    LODOP.SET_PREVIEW_WINDOW(0,0,0,0,0,"");
                    LODOP.SET_SHOW_MODE("PREVIEW_NO_MINIMIZE",true);
                    LODOP.PREVIEW();
                    return;
                };
            }

        });

        // 执行一键发货
        $("#print-send").click(function(){
            var thisState = $(this).data("state");
            if(thisState>0){
                return;
            }
            // 执行保存收件人信息
            saveUser();
            var temp_esheetid = $("#temp_esheet option:selected").val();
            if(temp_esheetid==''){
                tip.msgbox.err("请先选择电子面单模板");
                return;
            }
            var orderids = [];
            $("#result-order").find("input:checkbox:checked").not(".checkAll").not(".checkOrder").each(function() {
                var _this = $(this).closest(".print-data");
                var orderid = _this.data("print-orderid");
                var status = _this.data("send-status");
                if(status==1){
                    var inarray = $.inArray(orderid,orderids);
                    if(inarray<0){
                        orderids.push(orderid);
                    }
                }
            });
            if(orderids==''){
                tip.msgbox.err("可发货状态订单为空");
                return;
            }

            $.ajax({
                type: 'POST',
                url: "{php echo webUrl('exhelper/esheetprint/single/getorderinfo')}",
                data: {orderids:orderids,temp_esheetid:temp_esheetid},
                success: function(result){
                    $("#modal-send").find("#main").html(result);
                    $("#modal-send").modal({backdrop: 'static', keyboard: false});
                }
            });

        });

        // 修改 商品简称 回调方法
        $("[data-toggle='ajaxEdit']").bind('valueChange',function(event,val,oldval){
            $(".print-short").each(function(){
                var st= $(this).data("print-short");
                if(st==oldval){
                    $(this).data("print-short",val).html(val);
                }
            });
        });

        // 判断如果收件人信息更改 则进行标记
        $(".userinfo").find("input").change(function(){
            $(".userinfo").data("change",1);
        });


        // 全选按钮
        $(".checkAll").click(function(){
            var _thisState = $(this).is(":checked");
            if(_thisState){
                $("input[type=checkbox]").prop("checked", true);
            }else{
                $("input[type=checkbox]").prop("checked", false);
            }
        });


        // 订单全选按钮
        $(".checkOrder").click(function(){
            var _thisState = $(this).is(":checked");
            var thiscode=$(this).closest(".table").find('tr.trbody.print-data').closest(".print-data").data("print-ordercode");
            $("#result-order").find('tr.trbody.print-data').each(function(index,item) {
                var ordercode = $(item).attr("data-print-ordercode");
                if(ordercode==thiscode  && ordercode!='0'){
                    $(item).find(".checkGood").each(function(){
                        $(this).prop("checked", _thisState);
                        $(this).closest(".table").find(".checkOrder").prop("checked", _thisState);
                    });
                }
            });

            if(_thisState){
                $(this).closest(".table").find("input[type=checkbox]").prop("checked", true);
                // 执行遍历全选
                var dd = true;
                $("input[type=checkbox]").not(".checkAll").each(function(){
                    _tS = $(this).is(":checked");
                    if(!_tS){dd = false;return;}
                });
                if(dd){
                    $(".checkAll").prop("checked", true);
                }
            }else{
                $(this).closest(".table").find("input[type=checkbox]").prop("checked", false);
                $(".checkAll").prop("checked", false);
            }
        });


        // 选择商品按钮
        $(".checkGood").click(function(){
            var _thisState = $(this).is(":checked");
            var thiscode=$(this).closest(".print-data").data("print-ordercode");
            $("#result-order").find('tr.trbody.print-data').each(function(index,item) {
                var ordercode = $(item).attr("data-print-ordercode");
                if(ordercode==thiscode && ordercode!='0'){
                    $(item).find(".checkGood").each(function(){
                        $(this).prop("checked", _thisState);
                        $(this).closest(".table").find(".checkOrder").prop("checked", _thisState);
                    });
                }
            });

            if(_thisState){
                $(this).prop("checked", true);
                $(this).closest(".table").find("input[type=checkbox]").prop("checked", true);
                var d = true;
                var dd = true;
                $(this).closest(".table").find(".checkGood").each(function(){
                    _tS = $(this).is(":checked");
                    if(!_tS){d = false;return;}
                });
                if(d){
                    $(this).closest(".table").find(".checkOrder").prop("checked", true);
                }

                $("input[type=checkbox]").not(".checkAll").each(function(){
                    _tS = $(this).is(":checked");
                    if(!_tS){dd = false;return;}
                });
                if(dd){
                    $(".checkAll").prop("checked", true);
                }

            }else{
                $(this).prop("checked", false);
                $(this).closest(".table").find(".checkOrder").prop("checked", false);
                $(".checkAll").prop("checked", false);
                $(this).closest(".table").find("input[type=checkbox]").prop("checked", false);
            }
        });


        //未选中则不能打印
        $("#result-order").find("input[type=checkbox]").change(function(){
            var d = false;
            $("input[type=checkbox]").each(function(){
                _tS = $(this).is(":checked");
                if(_tS){d = true;return;}
            });
            if(d){
                // 可以打印
                $(".print-btn #print-esheet").removeClass("btn-disabled").addClass("btn-success").data("ban",0);
                $(".print-btn #print-send").removeClass("btn-disabled").addClass("btn-primary").data("ban",0);
            }else{
                // 不可以打印
                $(".print-btn #print-esheet").removeClass("btn-success").addClass("btn-disabled").data("ban",1);
                $(".print-btn #print-send").removeClass("btn-primary").addClass("btn-disabled").data("ban",1);
            }
            changeSendInfo();
        });
    });

    // 执行发货
    function doSend(){
        var _thisState = $("#dosend").data("state");
        if(_thisState==1){
            tip.msgbox.err("正在执行发货，请稍候。。。");
            return;
        }
        if(_thisState==2){
            return;
        }

        var state = 0;
        $(".sendtable").find("input[data-send-state=1]").each(function(){
            if($(this).val()==''){
                tip.msgbox.err("您还有未填写快递单号的订单哦~");
                $(this).focus();
                state = 1;
                return false;
            }
        });
        if(state==0){
            var total =$(".sendtable").find("input[data-send-state=1]").length;
            if(total<1){
                tip.msgbox.err("没有可发货状态的订单");
                return;
            }
            if(confirm('确定执行发货？')){
                $("#dosend").data("state",1).text("正在发货");
                var expresscom = $("#modal-send").find("#expresscom").val();
                var express = $("#modal-send").find("#express").val();
                $(".sendtable").find("input[data-send-state=1]").each(function(i){
                    var expresssn = $.trim($(this).val());
                    var orderid = $(this).closest("tr").data("orderid");
                    $.ajax({
                        type: 'POST',
                        url: "{php echo webUrl('exhelper/esheetprint/single/dosend')}",
                        data: {orderid:orderid,expresssn:expresssn,expresscom:expresscom,express:express},
                        dataType:'json',
                        async:false,
                        success: function(result){
                            if(result.result=='error'){
                                tip.msgbox.err(result.resp);
                            }
                            if(result.result=='success'){
                                $("#dosend").text("正在执行...("+i+"/"+total+")");
                                $(".sendtable").find(".send-order[data-orderid="+orderid+"]").find("input").attr("disabled","disabled");
                                $(".sendtable").find(".send-order[data-orderid="+orderid+"]").find(".status label").removeClass("label-info").removeClass("label-danger").addClass("label-warning").text("待收货");
                                $("#result-order").find(".print-data[data-print-orderid="+orderid+"]").find(".label-oss").removeClass("label-info").removeClass("label-danger").addClass("label-warning").text("待收货");
                                $("#result-order").find(".print-data[data-print-orderid="+orderid+"]").data("send-status",0);
                            }
                        }
                    });
                    if(i+1==total){
                        tip.msgbox.suc("发货完成");
                        $("#dosend").text("发货完成");
                        $("#dosend").data("state",2);
                    }
                });
            }
        }

    }

    // 保存时执行 保存收件人信息
    function saveUser(){
        var change = $(".userinfo").data("change");
        if(change!=1){
            return;
        }
        var ordersns = [];
        $("#result-order").find("input[type=checkbox]:checked").not(".checkAll").not(".checkOrder").each(function(){
            var _this = $(this);
            var ordersn = $.trim(_this.closest(".print-data").data("print-ordersn"));
            var inarray = $.inArray(ordersn,ordersns);
            if(inarray<0){
                ordersns.push(ordersn);
            }
        });
        if(!ordersns){
            return;
        }
        var url = "{php echo webUrl('exhelper/esheetprint/single/saveuser')}";
        var datas = {
            realname: $.trim($("input[name=realname]").val()),
            nickname: $.trim($("input[name=nickname]").val()),
            mobile: $.trim($("input[name=mobile]").val()),
            province: $.trim($("input[name=province]").val()),
            city: $.trim($("input[name=city]").val()),
            area: $.trim($("input[name=area]").val()),
            address: $.trim($("input[name=address]").val()),
            ordersns: ordersns
        }
        $.post(url, datas, function (result) { });
    }


    // 执行遍历发货信息并重组
    function changeSendInfo(){
        var arr = [];
        var sendInfo = '';
        $("#result-order").find("input[type=checkbox]:checked").not(".checkAll").not(".checkOrder").each(function(){
            var _this = $(this);
            var _tct = _this.closest(".print-data");

            var printShort = _tct.find(".print-short").data("print-short");
            var printGid = _tct.data("print-goodid");
            var printTitle = _tct.data("print-title");
            var printTotal = _tct.data("print-total");
            var printOption = _tct.data("print-option");
            var gTitle = !printShort?printTitle:printShort;

            var state = -1;
            $.each(arr,function(i,d){
                if(d.id===printGid && d.option===printOption){
                    state = i;
                    return false;
                }
            });
            if(state>-1){
                arr[state].num += printTotal;
            }else{
                arr.push({'id':printGid,'title':gTitle,'num':printTotal,'option':printOption});
            }
        });

        $.each(arr, function(i,v) {
            sendInfo += v.title;
            if(v.option){
                sendInfo += "("+v.option+")";
            }
            sendInfo += " x "+ 1 + "; ";
        });
        $(".sendinfo").val(sendInfo);
    }

</script>



