<ul class="nav nav-tabs" id="myTab" style="margin-bottom: 10px">
    <li {if $_GPC['tab']=='esheet' || empty($_GPC['tab'])}class="active"{/if}><a href="{php echo webUrl('groups/esheet',array('tab'=>'esheet'))}">单个打印</a></li>
    <li {if $_GPC['tab']=='batch'}class="active"{/if}><a href="{php echo webUrl('groups/batch',array('tab'=>'batch'))}">批量打印</a></li>
</ul>