
    <div id="page-loading">
        <div class="page-loading-inner">
            <div class="sk-three-bounce">
                <div class="sk-child sk-bounce1"></div>
                <div class="sk-child sk-bounce2"></div>
                <div class="sk-child sk-bounce3"></div>
            </div>
        </div>
    </div>

    {if !empty($_W['setting']['copyright']['statcode'])}{$_W['setting']['copyright']['statcode']}{/if}
    {if !empty($copyright) && !empty($copyright['copyright'])}
    <div class="wb-footer" style='width:100%;'>
        <div>{$copyright['copyright']}</div>
    </div>
    {/if}

    <!--微擎版权-->
    <div class="container-fluid footer text-center copyright-footer" role="footer">
    <div class="copyright">{if empty($_W['setting']['copyright']['footerleft'])}Powered by <a href="http://www.we7.cc"><b>微擎</b></a> v{IMS_VERSION} © 2014-2015 <a href="http://www.we7.cc">www.we7.cc</a>{else}{$_W['setting']['copyright']['footerleft']}{/if}</div>
    {if !empty($_W['setting']['copyright']['icp'])}<div>备案号：<a href="http://www.miitbeian.gov.cn" target="_blank">{$_W['setting']['copyright']['icp']}</a></div>{/if}
    </div>
    <!--微擎版权结束-->

    </div>
    <style>
        .copyright-footer {
            background: #fff;
            border-radius: 4px;
            margin: 20px 0 0 0;
            padding: 20px 0;
            line-height: 20px;
            color: #999;
            font-size: 12px;
        }
        .copyright-footer a {
            color: #999;
        }
    </style>

<script language='javascript'>
    require(['bootstrap'], function ($) {
        $('[data-toggle="tooltip"]').tooltip("destroy").tooltip({
            container: $(document.body)
        });
        $('[data-toggle="popover"]').popover("destroy").popover({
            container: $(document.body)
        });
    });


 {if $_W['isfounder'] && $_W['routes']!='system.auth.upgrade' && $_W['routes']!='system.auth.upgrade_new' && $_W['role'] !='vice_founder'}
    function check_ewei_shopv2_upgrade() {
        require(['util'], function (util) {
            if (util.cookie.get('checkeweishopv2upgrade_sys')) {
                return;
            }
            $.post('{php echo webUrl("system/auth/upgrade_new/check")}',{check:0}, function (ret) {
                if (ret && ret.status == '1') {
                    var result = ret.result;
                    if (result.files.length>0 || result.database.length>0 || result.upgrades.length>0) {
                        $('#headingFive').find('.systips').show();
                        if($('#headingFive').attr('aria-expanded')=='false'){
                            $('#headingFive').click();
                        }
                        $('#collapseFive .nomsg').hide();
                        $('#sysversion').text(result.version);
                        $('#sysrelease').text(result.release);
                        $('#collapseFive .upmsg').show();
                    }
                }
            }, 'json');
        });
    }
      function check_ewei_shopv2_upgrade_hide() {
        require(['util'], function (util) {
            util.cookie.set('checkeweishopv2upgrade_sys', 1, 3600);
            $('#collapseFive .nomsg').show();
            $('#collapseFive .upmsg').hide();
            $('#headingFive').find('.systips').hide();
        });
    }
    $(function () {
        setTimeout( function() {
            check_ewei_shopv2_upgrade();
        },4000);
    });
{/if}

    $(function () {
        //$('.page-content').show();
        $('.img-thumbnail').each(function () {
            if ($(this).attr('src').indexOf('nopic.jpg') != -1) {
                $(this).attr('src', "{EWEI_SHOPV2_LOCAL}static/images/nopic.jpg");
            }
        })
        {php $task_mode =m('common')->getSysset('task')['task_mode']}
        {if $task_mode==0}
            $.getJSON("{php echo webUrl('util/task')}");
        {/if}
    });
</script>

<script language="javascript">
    myrequire(['web/init']);
    if( $('form.form-validate').length<=0){
        window.formInited = true;
    }
    window.formInitTimer = setInterval(function () {
        if (typeof(window.formInited ) !== 'undefined') {
            $('#page-loading').remove();
            clearInterval(window.formInitTimer);
        }else{
            //$('#page-loading').show();
        }
    }, 1);
</script>

{if $_W['plugin']=='merch' && $_W['merch_user'] }
    <script language="javascript">myrequire(['../../plugin/merch/static/js/manage/init']);</script>
{/if}

</body>

</html>
