{template '_header'}

<link rel="stylesheet" type="text/css" href="../addons/ewei_shopv2/template/mobile/default/static/css/detail_custom.css?v=2.0.2">
<div class='fui-page fui-page-current  page-goods-detail'>
    {php $this->followBar()}

    <div class="fui-header">
        <div class="left">
            <div class="logo">
                <img src="http://dake.foxdev.cn/attachment/images/12/merch/10/V2594Y57y45y28v9k5kyknQtVkkUYS.png">
            </div>
            <div class="angle"></div>
        </div>
        <div class="title">油卡充值</div>
    </div>

    <div class="fui-content">
        <div class="form-area">
            <div class="input-area">
                <div class="title">持卡人姓名：</div>
                <div class="input"><input /></div>
            </div>
            <div class="input-area">
                <div class="title">持卡人姓名：</div>
                <div class="input"><input /></div>
            </div>
            <div class="input-area">
                <div class="title">持卡人姓名：</div>
                <div class="input"><input /></div>
            </div><div class="input-area">
            <div class="title">持卡人姓名：</div>
            <div class="input"><input /></div>
        </div>
        </div>
        <div class="btn btn-blue">立即充值</div>

        <div class="text-area">
            <p>温馨提示</p>
            <p>一、油卡返佣说明</p>
            <p>一、油卡返佣说明</p>
            <p>一、油卡返佣说明</p>
            <p>一、油卡返佣说明</p>
            <p>一、油卡返佣说明</p>
            <p>一、油卡返佣说明</p>
        </div>
    </div>


</div>

{template '_footer'}